
  <tr>
    <td valign="top" width="85%" height="610">
      <p align="left"><font size="3" face="Arial"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </em><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;MS Mincho&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">R. V. Cassill has published 22 novels, about 80
      short stories, and the text Writing Fiction.&nbsp;</span></font></p>
     
      <p align="left"><font size="3" face="Arial"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;MS Mincho&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">He is the editor of the <i> Norton Anthology of
      Contemporary Fiction</i>. He has taught in the Iowa Writers' Workshop and at
      Harvard, Columbia, and Brown Universitites. Pushcart Press recently
      republished his major novel <i> Clem Anderson</i>. His <i> Collected Stories</i> have been
      published by the University of Arkansas Press.</span></font><span style="font-size:11.0pt;
mso-bidi-font-size:10.0pt"><u></o:p>
      </u></span></p>
</tr>  
