
  <tr>
    <td valign="top" width="85%" height="610">
      <p align="left"><font size="3" face="Arial"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></font><span style="mso-fareast-font-family:&quot;MS Mincho&quot;">Betsy
      Colquitt has long been recognized as one of Texas' finest poets. With the
      publication of her <i>Eve, from the Autobiography and Other poems </i>(Texas
      Christian University Press), readers can see for the the first time the
      full range of her work.&nbsp;</span></p>
     
      <p align="left"><span style="mso-fareast-font-family:&quot;MS Mincho&quot;">She
      also has edited several books, among them <i>A Part of Space: Ten Texas
      Writers</i>. Another volume of poems is titled <i> Honor Card</i>.<o:p>
      </o:p>
      </span><span style="font-size:11.0pt;
mso-bidi-font-size:10.0pt"><u></o:p>
      </u></span></p>
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%"></td>
          <td width="50%"></td>
        </tr>
      </table>
      <p align="left">&nbsp;</p>
    </td>
 </tr>
