
  <tr>
    <td valign="top" >
      <p align="left"><font size="3" face="Arial"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </em></font><span style="mso-fareast-font-family:&quot;MS Mincho&quot;">Mary
      Gray Hughes is the author of two story collections, <i>The Thousand
      Springs</i> and <i>The Calling</i>.&nbsp;</span></p>
     
      <p align="left"><span style="mso-fareast-font-family:&quot;MS Mincho&quot;">Her
      fiction has been published and anthologized in The <i>Atlantic</i>, <i>Esquire</i>,
      and <i>Best American Short Stories</i>. She has published <i> The</i> <i>Empty Lot</i>,
      a novel, as well as many poems. She has received Fulbright and NEA
      Fellowships and has served as Illinois Writer-in-Residence.<o:p>
      </o:p>
      <o:p>
      </o:p>
      </span><span style="font-size:11.0pt;
mso-bidi-font-size:10.0pt"><u></o:p>
      </u></span></p>
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%"></td>
          <td width="50%"></td>
        </tr>
      </table>
      <p align="left">&nbsp;</p>
    </td>
  </tr>
