
  <tr>
    <td valign="top" width="85%" height="610">
      <p align="left"><font size="3" face="Arial"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </em></font><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;MS Mincho&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA"><span style="mso-fareast-font-family:&quot;MS Mincho&quot;">Chris
      Pasles, reviewer and features writer for the <i> <a href="http://www.latimes.com">Los
      Angeles Times</a>,</i> was recently invited by President Clinton to the White
      House in honor of the National Symphony. Pasles, former Assistant Dean of
      Continuing Education and Director of the Performing Arts Program at the
      University of Southern California, is well known for his music reviews.<o:p>
      </o:p>
      </span></span><span style="font-size:11.0pt;
mso-bidi-font-size:10.0pt"><u></o:p>
      </u></span></p>
     
      <p align="left">&nbsp;</p>
    </td>
 </tr>
