
  <tr>
    <td valign="top" width="85%" height="610">
      <p align="left" style="line-height: 100%"><font size="3" face="Arial"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </em></font><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;MS Mincho&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">Robert Phillips has edited and written over
      thirty books, including volumes of poetry, story and essay collections.</span></p>
    
      <p>His
      editions of William Goyen's letters and Delmore Schwartz's letters have
      received high praise. His books of poetry include <i>Inner Weather</i>, <i>The
      Pregnant Man</i>, and <i>Running on Empty</i>. He also has edited <i>The
      Collected Stories of Noel Coward </i>and the <i>Stories of Denton Welch</i>.
      He holds a distinguished chair at the University of Houston, where he
      formerly directed the graduate writing program.</p>
    
    </td>
  </tr>
