
  <tr>
    <td valign="top" width="85%" height="610">
      <p align="left" style="line-height: 100%"><font size="3" face="Arial"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </em></font><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;MS Mincho&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">James Schevill, poet, dramatist, and novelist,
      has taught at San Francisco State and Brown Universities.</span></p>
     
      <p align="left" style="line-height: 100%"><span style="font-size:11.0pt;
mso-bidi-font-size:10.0pt"><u></o:p></u></span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;MS Mincho&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">His numerous books of poetry include <i>The
      Complete American Fantasies</i>. Swallow has published his <i>Collected
      Short Plays</i>. His novel is titled <i>Arena of Ants</i>. He has received
      Guggenheim and Ford Foundation fellowships and a 1984 McKnight fellowship
      in playwriting</span><span style="font-size:11.0pt;
mso-bidi-font-size:10.0pt"><u><o:p>
      </o:p>
      </u></span></p>
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%"></td>
          <td width="50%"></td>
        </tr>
      </table>
      <p align="left">&nbsp;</p>
    </td>
   </tr>
