
  <tr>
    <td valign="top" width="85%" height="610">
      <p align="left" style="line-height: 100%"><font size="3" face="Arial"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </em></font><span style="mso-fareast-font-family:&quot;MS Mincho&quot;">John
      Sledge is Book Editor of the <i> Mobile Press Register</i>. He lives in Fairhope,
      Alabama, and writes a weekly column for the paper. As well as being
      involved with literary studies, Sledge is concerned with architecture and
      restoration in Mobile.<o:p>
      </o:p>
      <o:p>
      </o:p>
      </span><span style="font-size:11.0pt;
mso-bidi-font-size:10.0pt"><u><o:p>
      </o:p>
      </u></span></p>
     
      <p align="left">&nbsp;</p>
    </td>
  </tr>
