
  <tr>
    <td valign="top" width="85%" height="610">
      <p align="left"><font size="3" face="Arial"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </em>Richard Zeikowitz has a Ph.D. in Medieval Studies from the City
      University of New York. He has lived in Berlin, London, and Barcelona. He
      co-edits the Christopher Isherwood Foundation Newsletter.</font></p>
    </td>
  </tr>
