---

layout: "article"
title: "Augusta Jane Evans"
authors: "John Sledge"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p>She is the most famous author the Port City has
          produced. She died when
          this century was young, yet even with the passage of all these years
          no other local writer has approached her stature.</p><p>Augusta Jane Evans was born in Georgia in 1835.
          Her family moved to Texas in 1845, then to Mobile four years
          later. Like most 19<sup>th</sup>
          century girls, she had no formal education, but she was a voracious
          reader. She wrote her
          first novel in secret while still a teenager, and presented it to her
          father as a Christmas present in 1854.
          It was published the following year with the title <book><title>Inez: A
          Tale of the Alamo.</title></book> This
          fledgling effort is a sentimental love story most notable for its
          strong dash of anti-Catholicism.
          Augusta followed this book with <book><title>Beulah</title><printdate>1859</printdate></book>, which sold
          a staggering 22,000 copies the first year of publication.
          The family used the profits to buy Georgia Cottage on
          Springhill Avenue.</p><p>The Civil War brought both personal tragedy and
          success to Miss Augusta. Her
          engagement to a New York journalist was broken off because of
          sectional differences. During
          the war, admiring locals named a military outpost "Camp Beulah" in
          honor of her novel. She wrote <book><title>Macaria</title></book> in 1863.
          Published in true Confederate fashion in Richmond, the novel
          was printed on wrapping paper with wallpaper covers.
          <book><title>Macaria</title></book> was popular among both rebels and Yankees.
          Union officers banned the book and burned confiscated copies.
          Unbeknownst to Miss Augusta, the book was also published in New
          York, and the royalties held in trust until after the war.
          These funds tided the family through the lean post-war years.</p><p>In the gloomy aftermath of war, Miss Augusta turned
          out her most popular work, <book><title>St Elmo.</title></book>
          It was a runaway bestseller, and enthusiastic readers named
          towns, steamboats and even a cigar for it.
          Like her other works, "St. Elmo" is in the domestic
          sentimentalist style popular during the Victorian period.
          Novels of this type enjoyed huge readerships and made their
          authors wealthy. Indeed,
          Augusta Evans was the first American woman writer to make over
          $100,000, a record that would be surpassed by Edith Wharton some years
          later. If the public
          loved these novels, however, literary critics did not.
          One declared, "The trouble with the heroine of ‘St. Elmo’
          is that she swallowed an unabridged dictionary."</p><p>In 1868, the Mobile authoress married Colonel Lorenzo
          Wilson, a self-made man involved in banking, railroads and wholesale
          groceries. He was
          twenty-seven years her senior. The
          couple settled into a columned home, Ashland, not far from Georgia
          Cottage, and attended the St. Francis Street Methodist Church.
          "Miss ‘Gusta," as she was called, reigned as the social
          queen of Mobile, having replaced the dethroned Madame LeVert, who had
          welcomed the occupying federals rather too warmly for Mobilians’
          taste. Ashland became a
          salon, with Saturday designated as visiting day.
          Frequent guests included the poet Thomas Cooper DeLeon and the
          lawyer Peter Joseph Hamilton, who in 1897 would write the massive
          "Colonial Mobile."</p><p>In 1895, a reporter visited Ashland and penned a
          description of the sixty-year-old writer.
          "Mrs. Wilson is tall, with blue eyes and dark hair, fast
          growing gray," he wrote. "Although
          her face is grave and intellectual, it evidences the womanly sweetness
          of character that has made her so beloved by all who know her.
          The culture of rare flowers and plants fills her moments."</p><p>Augusta Evans Wilson died in 1909.
          Her literary output consists of nine novels, the last being "Devota,"
          published in 1907. Obituaries around the South paid especial attention to her
          literary style, already outmoded in the new century. The Nashville American called her books "sentimental and
          written in a stilted style." The
          Columbus (Mississippi) Enquirer Sun noted that she was "not an
          author of the latter day type," and the Birmingham Ledger placed her
          in "the literary style that prevailed till 1870."
          Her beloved Ashland burned in 1926, but Georgia Cottage still
          stands, and a historic marker on Springhill Avenue designates it as
          her home. The University of Alabama Press has recently reprinted "St.
          Elmo," but it is a historical curiosity that does not speak to our
          condition. Augusta Evans
          Wilson, locally famous though she still is, is largely unread today.</p></body>