---

layout: "article"
title: "The City of Your Final Destination"
authors: "Jonathan Schulte"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p><i>The City of Your Final Destination
   </i><br></br>
Director: James Ivory
	<br></br>		
Producer: Paul Bradley, Pierre Proner
<br></br>
Screenwriter: Ruth Prawer Jhabvala	
<br></br></p><p> I was pleasantly surprised last night with three-time Academy Award Winning Director James Ivory’s latest motion picture entitled The City of Your Final Destination, based on Peter Cameron’s 2002 novel.  This is Ivory’s first solo project since the 2005 death of his business and life partner Ismail Merchant and Ivory’s distinct and unyielding hold as the best literary filmmaker remains evident.   It is the twenty-third collaboration for Merchant/Ivory Productions with the novelist and two-time Academy Award winning screenwriter Ruth Prawer Jhabvala.  The Merchant/Ivory Production Company has been working with Jhabvala going on five decades now and at the age of eighty-three she isn’t showing any signs of slowing down.  Jhabvala’s screenplay adaptation is yet another example of the mastery over her craft.  The subtle yet powerful dialogue seems to effortlessly carry the movie all the way through.  The precision and depth of the characters were a delight to watch and when the movie ended I found myself wanting more from this beautiful story, these complex characters and the candid yet sometimes humorous manner in which they were delivered to the big screen.  
   </p><p>  Omar Razaghi (Omar Metwally) finds out the family of the late, obscure author Jules Gund will not give him the permission he needs in order to write the late author’s biography.  With his overbearing, controlling girlfriend Deidre (Alexandra Maria Lara) urging him, the young graduate student embarks on the journey of a lifetime to the Gund’s stunning family estate in Uruguay to try and persuade them to change their minds.  Upon arrival we meet a family coping with each other’s unique fervor as well as their underlying gloom.  
 </p><p>    Anthony Hopkins is nothing short of brilliant as the fun-loving, upbeat Adam. His steadfast performance seems effortless and once again proves his superiority as an actor.  The beautiful Laura Linney plays the cold hearted and depressed widow Caroline.  At first I didn’t very much care for her seemingly impervious nature, but as her character and the story unfold you start to understand her resolve and applaud her toughness.  
</p><p>     There was however one performance that stood out for me.  The lovely Charlotte Gainsbourg with her subtle beauty and engrossing smile as Jules Gund’s mistress Arden Langdon.  She displays a submissive nature and vulnerable heart that is just wonderful to watch.  
</p><p>     James Ivory and Ruth Prawer Jhabvala don’t just show you Uruguay, they take you inside the culture and the hearts of the people who live and who dream there.  Do yourself a favor and go see <i>The City of Your Final Destination</i>, it will take you away and leave you smiling.  
</p></body>