---

layout: "article"
title: "Monkey"
authors: "John Sledge"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p>On the eve of the American Civil War, Montgomery, Alabama was a
          provincial state capital with only 9,000 residents, half of them
          slaves. Dirt streets ran
          through the town and cotton and corn grew right up to the city limits.
          A correspondent for the London Times compared it "to a small
          Russian town in the interior."
          Yet this unimposing little city was chosen as the first capital
          of the Confederate States of America, and even after the seat of
          government was removed to Richmond, Montgomery continued to play an
          important role in the Southern cause.
          A new book examines Montgomery’s wartime history in
          satisfying detail, <book><title>Confederate Home Front: Montgomery During the
          Civil War</title></book> (Alabama, $29.95) by William Warren Rogers.</p><p></p><p>Rogers,
          an assistant professor of history at Gainesville College, Georgia,
          correctly observes that while historians have exhaustively studied the
          major battles and personalities of the War Between the States,
          "comparatively little attention has been devoted to the Southern
          homefront." In this
          absorbing book, Rogers contends that the story of Civil War Montgomery
          "reflects the strengths, weaknesses and, with vivid resonance, the
          life of the greater Confederate homefront." Indeed, this volume serves as an admirable model for future
          studies of Confederate cities, perfectly balancing as it does
          political, economic, social and military considerations.</p><p></p><p>Rogers
          masterfully describes antebellum Montgomery and its inhabitants.
          "Montgomery in 1860 was a place of wealth, architectural
          taste, and obvious commercial vigor," he writes.
          Residents lived in "a wide cross section of
          domiciles-impressive, commonplace, and the frankly disreputable"
          and at night "gas lamps bathed the streets in a faint, uncertain
          light." Rogers makes a
          valiant attempt to reconstruct slave life in Montgomery, but his
          sources are limited. "Most
          slaves simply adapted," he writes, "and strove to fulfill the
          expectations of the white world while attending to their own interests
          as best they might." Females
          made up half of the free white population, but "exerted minimal
          economic influence."</p><p></p><p>Montgomery
          was chosen as the Confederacy’s first capital because it was well
          positioned with good water and rail facilities, had a large number of
          hotel rooms and was thought to be safely distant from federal forces.
          On February 18, 1861, Jefferson Davis was inaugurated as the
          Confederacy’s first president on the capitol steps (the exact spot
          is today marked by a well-worn brass star).
          William Lowndes Yancey, a local lawyer and famous fire eater
          memorably declared, "The man and the hour have met."
          A Montgomery photographer recorded the scene in one of the most
          famous images in American history.</p><p></p><p>Montgomery’s
          advantages as a capital quickly diminished as the Confederate
          government grew. Furthermore,
          everyone complained about the heat and the mosquitoes.
          After the capital moved to Richmond, Montgomery became a major
          quartermaster depot and as casualties began to mount, the site of six
          large hospitals.</p><p></p><p>The
          war years strained the small city’s resources.
          Most able-bodied men were called away to the armies, and the
          tiny police force had to contend with unruly soldiers and
          convalescents in addition to the usual local criminals.
          In the summer of 1862, 40,000 Confederate soldiers passed
          through Montgomery on their way to Chattanooga, overwhelming local
          authorities. But even as
          the war ground on, Montgomery’s residents found release by going to
          the local theatre and watching travelling shows.</p><p></p><p>Montgomery
          was safely removed from actual fighting for much of the war, but
          towards the end became a target for federal cavalry forays. Incredibly, only minimal efforts had been made to fortify the
          city. Confederate General
          Braxton Bragg wrote that "a mere raid may destroy Montgomery…this
          is no fancy sketch." As
          Union forces began to penetrate central Alabama, local authorities
          hurried to throw up defenses, using mostly slave labor.
          These attempts were woefully inadequate, and in the spring of
          1865 Yankees under the command of James Harrison Wilson rode into
          Montgomery without opposition. As Rogers notes, by then most residents were "more fearful
          than defiant."</p><p></p><p>In
          the final analysis, Montgomery was ill prepared for the Civil War, and
          struggled to meet the most basic needs of its residents and the
          Confederate government. The
          story of that struggle is well told in Professor Rogers’ new book.</p></body>