---

layout: "article"
title: "Poems by John Olivar"
authors: "John Olivar"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><poem><title>Goal in Sight</title><p>
as we dash through caution's<br></br>
halls, their artifice draws<br></br>
in torrents, our blood, runs<br></br>
two starry-dead outlaws<br></br></p><p>
to a purported goal:<br></br>
a pool of icy black,<br></br>
temporized, its cold coal<br></br>
surface shines, drives us back<br></br></p><p>
to belief, an all-fled<br></br>
release from fire driven<br></br>
fools, still sane and unbled<br></br>
refuse, wind scattered in<br></br></p><p>
formation, paper news<br></br>
hollers of their flat, dry<br></br>
control; veins, bulging blues<br></br>
serve to unhue the sky<br></br></p><p>
now become a crawlspace<br></br>
for weak wills, and the urge<br></br>
for freedom's battered face<br></br>
to shine as we emerge.<br></br></p></poem><poem><title>Lodging</title><p>
A lonely bargeman exits<br></br>
the water, walks<br></br>
through light night<br></br>
rain to a bank dwelling,<br></br>
wood-decked and curtained<br></br>
Serene, even sentimental<br></br>
he pays for his bread, and will<br></br>
sleep dreamlessly<br></br>
content to be dead for<br></br>
the night, in out<br></br>
of the rain, off<br></br>
the river<br></br></p></poem><poem><title>Tugboat Race</title><p>
Hanging by both<br></br>
arms from a tree, I saw<br></br>
two raised, two captains<br></br>
wave, glance the distance<br></br>
between one another<br></br>
and sail off; then on<br></br>
my own way home, I passed<br></br>
a room filled with people and statues<br></br>
--statues in motion, people<br></br>
still, as they watched<br></br>
the marble heads sway, their<br></br>
arms remained out of sight<br></br></p></poem></body>