---

layout: "article"
title: "Poems by James Schevill"
authors: "James Schevill"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><poem><title>Spring Leaves at Night</title><p><u>A leaf always turns its upper surface</u><br></br><u>to the sky, so that it may receive</u><br></br><u>the dew at night</u>, wrote Leonardo in
                his notebooks.<br></br></p><p>As dark lowers, I try to perceive<br></br>
				invisible grace, as spring leaves<br></br>
				dance wind-blown, turn to the sky.<br></br></p><p>Perhaps Leonardo meant,<br></br>
				We turn, we turn to reach the right time,<br></br>
				we turn to reach the dancing place.<br></br></p></poem><poem><title>A Poet Meditates on Politics</title><p>"Politics is too practical and dirty.<br></br>It can never burn with poetry.<br></br>At the root of political power lies<br></br>Always the practical force of obscenity,<br></br>And obscenity has no part in poetry."<br></br></p><p>So a political friend argues with passion.<br></br>I must divorce poetry from politics,<br></br>Escape the slick art of compromising deals<br></br>Shining in my eyes like a polished sink.<br></br></p><p>Retreating into the safe pasture of private
                vision,<br></br>I hear the confidential voice of President
                Johnson<br></br>Mouthing the functions of his
                Vice-President:<br></br>"Whoever, I want his pecker to be in my
                pocket."<br></br>Must poetry give up a pocket full of
                peckers?<br></br>Ignore obscene instructions, change them
                into<br></br>Sentimental words, arcane private
                yearnings?<br></br>Johnson scorned the Organization of
                American States<br></br>Saying, "It couldn’t pour piss out of a
                boot<br></br>If instructions were written on the
                heel."<br></br></p><p>Can poetry catch the vindictive, humorous<br></br>Tone of American tragedy? Can I read<br></br>Deeply again power’s putrid
                manipulations,<br></br>Discover in the politician’s secret acts<br></br>The brilliant cosmic hooks of profane
                language?<br></br></p></poem><poem><title>Living in Suspect Terrain</title><p>
A hell of a big country,<br></br> 
As Charles Olson observed.<br></br> 
Geography stifles us,<br></br></p><p>I live in <u>suspect terrain</u>,<br></br>
 
meaning no one knows the<br></br>
 
shifting land on which I live,<br></br></p><p>
no one knows where it comes from.<br></br>
 
Geologists only know this changing<br></br>
 
land comes from an unknown <u>elsewhere</u>.<br></br></p><p>
Elsewhere in Berkeley, having felt many jolts,<br></br>
 
I do not think of it as earthquake country.<br></br>
 
At night, though, staring at the moving sky,<br></br></p><p> 
evening star soaring near the moon,<br></br>
 
I feel land slowly moving beneath me;<br></br>
 
I yearn for the art of conquering movement<br></br></p><p>
which means to me the language of poetry.<br></br>
 
Living on the Pacific Plate in suspect terrain,<br></br>
 
my body floats like an island in time,</p><p>
an animal trough in explosive territory,<br></br>
 
yet the excitement of superhuman force<br></br>
 
grinding deep in the earth’s split plates<br></br></p><p>
reminds me of the voice’s natural flow<br></br>
 
searching after nightfall for the great dawn rhythms<br></br>
 
while living in the danger of suspect terrain.<br></br></p></poem><poem><title>My Memorial Service</title><p>No one will sing a Mass for me. <br></br>
No one will sing a Kaddish for the dead. <br></br>
During the long days of my death <br></br>
Nothing will be sung, nothing said.</p><br></br><p>But perhaps on such a dying day <br></br>
If the weather is lovely, mild, and green, <br></br>
Mathilde, my wife, will go for a walk <br></br>
To Montmartre with her friend, Pauline.</p><br></br><p>She will come to decorate my grave <br></br>
With the special wreath of immortality, <br></br>
And whisper with a sigh, “Poor man!” <br></br>
And wipe a momentary tear from her eye.</p><br></br><p>By then it’s a shame that I’ll be living <br></br>
Too high off the earth on my immortal seat; <br></br>
I won’t be able to reach down and find <br></br>
A foot-rest for my darling’s tired feet. </p><br></br><p>Oh my sweet, fat child, please know that you <br></br>
Won’t have to walk all the way home that day. <br></br>
At the glittering barrier gate separating us <br></br>
A coach will be ready to ease your way.</p><br></br></poem><poem><title>Rock Angels of the Fireman's Crusade</title><p>As early trains clacked, <br></br>
clattered through the <br></br>
desert in the old west, <br></br>
firemen’s sooty faces <br></br>
saw through coal-black eyes <br></br>
a tiny tree struggling out of rock.</p><br></br><p>Passing word down the line, <br></br>
every fireman on daily trains <br></br>
began to throw a bucket of water <br></br>
on the green struggle, <br></br>
shouting, “Come on, angel, <br></br>
sprout your tree wings!”</p><br></br><p>Flourishing in the firemen’s crusade, <br></br>
the tree began a symbiotic clash, <br></br>
challenging its rock prison <br></br>
to enduring, fatal marriage.</p><br></br><p>With triumphant shouts, the firemen <br></br>
built a fence around rock and tree <br></br>
honoring desert marriages, <br></br>
every thunderstorm revealing <br></br>
difficult rock angels of endurance.</p></poem><poem><title>Selfwolves</title><p>Sitting under a wind-blown palm tree in Tucson <br></br>
in hot sun by the empty hotel pool— <br></br>
still recovering from severe bronchitis— <br></br>
I read Mark Halliday’s new book of poems, <br></br><u>Selfwolf</u>, and wonder if w are all partly selfwolves <br></br>
dreaming of triumph over our animal natures…</p><br></br><p>Mark’s book is published by the University of Chicago Press, <br></br>
and my uncle, Ferdinand Schevill, a Renaissance Historian, <br></br>
was a founding professor at the university, <br></br>
who preferred teaching undergraduates only <br></br>
because they were the most susceptible to learning. <br></br>
As he taught the mysterious stretch of European history, <br></br>
he liked to challenge students by pouncing on the word, <br></br><u>progress</u>, with glee of a comic selfwolf. <br></br>
“You believe in the <u>progress</u> of European history?” <br></br>
he pounced, nearsighted eyes twinkling behind thick glasses. <br></br>
“Progress is like a dog forever worrying a bone. <br></br>
Although the dream of progress grows fervently in Europe, <br></br>
the process of war continues with grinding repetition <br></br>
although the dream of progress never stops, <br></br>
and man awakes from his dream to worry the bone again, <br></br>
howling like a wolf in the lost pages of history.”</p><br></br><p>On the lobby telephone, a woman says loudly, <br></br>
“Happy Valentine’s Day! I love you. <br></br>
We’re leaving for Mexico tomorrow.” <br></br>
and  I sit here, far away from my California home, <br></br>
reading Mark’s book and wondering if we are all <br></br>
partial selfwolves seeking love’s communion with strangers, <br></br>
traveling incessantly in our self-centered disguises <br></br>
on the edge of nationalistic wars that always threaten, <br></br>
and howling with hope inside our search for unity.</p></poem><poem><title>Jazz-Drift</title><p>(1) <br></br>
Jazz-Drift, beat of night <br></br>
blues riding on the black voice, <br></br>
floating chips of tone grating blood, <br></br>
syncopated, eager beat of jumping beans, <br></br>
trumpets, saxophones flaring, <br></br>
exploding high, pounding through separations:</p><br></br><p><i>What did I do  <br></br>
to be so black and blue?</i></p><br></br><p><i>My black woman’s face shines like the sun.  <br></br>
Lipstick and powder sure can’t help he none.</i></p><br></br><p>When asked what makes a blues singer, <br></br>
Henry Townsend laughed and said, “Trouble, <br></br>
that’s right.  That’s the one word solution. Trouble.”</p><br></br><p>(2) <br></br>
You’ve got to rhyme it up a little, <br></br>
get words short and close in sound <br></br>
like “ground” and “down,” “town” and “now,” <br></br>
let ‘em flow through your ear <br></br>
till you get a swinging, tight sound; <br></br>
when your voice aches like the words <br></br>
then you got yourself the blues!</p><br></br><p>(3) <br></br>
If you’ve got a tight, aching <br></br>
three or four lines, <br></br>
you’ve got the right resistance, <br></br>
cool, unwavering repetition:</p><br></br><p><i>Times is so tough, can’t even get a dime,  <br></br>
Yes, times is so tough, can’t even get a dime.  <br></br>
Times don’t get better, I’m going to lose my mind.</i></p></poem><poem><title>Looking at Old Tombstones in a New England Graveyard</title><p>-Descartes had a epitaph from Horace inscribed on his grave: <br></br>
“Who has hidden himself well has lived well.” </p><br></br><p>To hide yourself well. <br></br>
In the grave. Beneath winter. <br></br>
Is it the same as hiding in life? <br></br>
To conquer death</p><br></br><p>Through metaphysical miracles <br></br>
“I think therefore I am.” <br></br>
How long have I been thinking? <br></br>
How long have you been <br></br>
Hiding yourself so well? <br></br>
I drop a key into your well <br></br>
And hear it echo eternally <br></br>
In your hidden depths. <br></br>
Are you living well? <br></br>
Did you die well? <br></br>
Your well sparkles <br></br>
Blankly in the sun. <br></br></p></poem><poem><title>Madness</title><p>Madness, as Foucault defines it, is <br></br>
Delirium, derived from lira, a furrow. <br></br>
Moving out of the furrow, away from reason, <br></br>
Is madness.  With Pound locked in St. Elizabeth’s, <br></br>
Williams dreamt of his friend wearing the beast face <br></br>
In Cocteau’s film <i>Beauty and the Beast</i>. </p><br></br><p>If I find myself stuck in the furrow <br></br>
How do I wear the hairy beast face? <br></br>
At night I practice before the mirror. <br></br>
See, beauty, are you coming to rescue me? <br></br>
Beware of the electric landscape vibrating <br></br>
In my mad eyes.  I will kill to see.</p></poem></body>