---

layout: "article"
title: "Review of The Magnate "
authors: "Eduardo Correia and James P. White"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p>
Review of THE MAGNATE (Gullane Filmes, Production Company; Johnny Araujo, Director; Chorao, leader of the band Charlie Brown, jr., writer; cast, Paulo Vilhena, the magnate, Rosanne Mulholland, Maria Luisa Mendonca, chico Diaz)
</p><p>	

The beginning of <i>The Magnate</i> shows scenes of skilled skate boarders including Bob Burnquist flying over stairs and railings. These skaters have no limits. Girls are riding the skateboards just as well as the guys.  The art of skateboarding is clear; these are artists. The director shows his control of the moment, capturing the grace and daring of the athletes. The photography deserves an award. The audience is brought into the excitement and is ready for more.
</p><p>

During the next hour and forty minutes the avant guard of  Sao Paulo youth culture is depicted: skateboarders, night clubbers, gangsters , and surfers-beautiful young men and women dancing, cavorting,  playing sports, and kissing. Meanwhile the glitzy nightscape of Sao Paulo enhances what is taking place as does the lush landscape around it. The atmosphere is glamorous, yet it is threatening. These people are living as if there is no tomorrow. They are not responsible. They are living the good life to the fullest.  The entire film is a fast paced, music driven story about the excesses in the life of the Magnate, a punk rock star who lives with his rich alcoholic mother Vilma in a mansion. Chorao, leader of the band Charlie Brown, Jr., does not disappoint us. Outwardly, the Magnate has the good life: beautiful women are attracted to him; he is popular and he has money.  His freewheeling lifestyle, however, has warped his sense of right and wrong, and he and a friend, Chivits, on a lark steal a red Ferrari from a dealership one night and think they can walk away. They tie up the salesman. They roar down the streets of Sao Paulo and stop in front of a night club. The Magnate gets out, leaving the car, but Chivits, on a high, drives away in it. Chivits is then caught by the police and jailed. His gangster brother turns to the Magnate to pay money to free Chivits, but the Magnate refuses. The Magnate doesn.t care that Chivits is in jail. He says it is not his fault. He told Chivits that if he wanted to take the car on his own, it was his responsibility.  The plot hinges on this situation.
</p><p>

A second part of the plot takes place after the Magnate steals the Ferrari. He meets up with two cousins at a birthday party.  He met them before when he played one night.  The cousin who is most attracted to him, however, is not the one he prefers.  Dri and he make an instant liaison at the birthday party.  They are wildly attracted to each other. Dri goes with him to his house where she spends the night and meets his mother who is drinking the next morning at breakfast. He gets a threatening call, however, and he and the girl go to a restaurant where they meet his friends. He tries to ignore the threats made by Chivits' brother, but it doesn't work. 
</p><p>

The acting in the film shows the high quality of the actors and  of Araujo's direction. Every character is well played, particularly Paulo Vilhena, the Magnate. The mother and girlfriend are quite noticeable as well. Araujo ties the film together in a dynamic  way that keeps the viewer involved and excited. From the moment the film starts until it ends, it grips the audience. The music is exceptional and enhances the narrative. The film is a real collaboration of exceptional  talents and is a statement of what is happening in Brazilian filmmaking. 
</p><p>
Meire and Nazareno Paulo, directors of the Los Angeles Brazilian Film Festival, have made an important contribution to the Brazilian film scene in the United States.  
</p></body>
