
         <tr>
 <td width="100%" height="4">      <font face="Verdana">      &nbsp;</font></td>
         </tr>
         <tr>
 <td width="100%" height="4" align="center">
    <table border="0" width="570">
       <tr>
          <td width="48%" valign="top">
  <b  style="color:#FFFFFF;font-family:Verdana;font-size:16">Dr. Jules White</b><font size="2" face="Verdana" color="#CCCCCC"> is an Associate Professor of Computer Science at Vanderbilt University      and the Art Editor of the American Center for Artists (<a href="http://www.americanartists.org">www.americanartists.org</a>). His most recent solo exhibition was at the Gregory Way Gallery in Beverly Hills, CA.</font> </font> 
  <p><b><font size="2" face="Verdana" color="#FFFFFF">Selected Reviews:</font></b></p>
  <p>
     <span style="mso-fareast-font-family: 'MS Mincho'">
        <font face="Verdana">
           <font size="2" color="#CCCCCC">
   
           </font>
           <span style="mso-fareast-font-family: Times New Roman; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA"><font face="Verdana" size="2" color="#FFFFFF">'Using intense color and distortion of form, White turns traditional subjects into sites for meditation and rumination upon the human condition..'</font></span>
        </font>
     </span>
  </p>
  <p><i><b><span style="mso-fareast-font-family: MS Mincho; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA"><font face="Verdana" size="2" color="#CCCCCC">Fort Worth Star Telegram</font></span></b></i><font face="Verdana" size="2" color="#CCCCCC">&nbsp;</font></p>
  <p style="LINE-HEIGHT: 100%" align="left">
     <font face="Verdana" size="2" color="#CCCCCC">
        White's colors bulge and glow from the canvas. Like Van Gogh, he takes recognizable forms and enhances their color and distorts their form.&quot;
        
     </font>
  </p>
 
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           About Jules White:
           
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           <b style="mso-bidi-font-weight:normal">Education:</b><br> December, 2008 PhD Computer Science, Vanderbilt University<br>
           May, 2006 MS Vanderbilt University, Computer Science<br>
           May, 2001 BA Brown University, Computer Science
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           <b style="mso-bidi-font-weight:normal">Publications:</b><br> 9/1/2000 &quot;Evaluating America's Commitment to Supporting Individual Artists,&quot; Associated Writing Programs, <i style="mso-bidi-font-style:normal">Job List</i>.<br> <br> <b style="mso-bidi-font-weight:normal">Group Art Exhibitions: </b><br/>
           </span>
     </font>
  </p>
  <p class="MsoNormal"><font face="Verdana" size="2"><span style="mso-bidi-font-size: 10.0pt">August, 2002 Group Show, University Place Gallery, Cambridge, Massachusetts<br> July, 2002 Group Show, Kathryn Schultz Gallery, Cambridge, Massachusetts<br> May, 2002 Group Show, Cambridge Art Association National Juried Show, (judged by: Lisa Dennison, Deputy Director and Chief Curator, Solomon R. Guggenheim<br> Museum, New York, 135 of 1200 entries were shown), Cambridge, Massachusetts<br> March, 2002, Group Show, Summit Gallery, Fairhope, Alabama<br> January, 2002, Group Show, University of South Alabama, Mobile, Alabama<br> December 2002, Group Show, The Gulf Space, Fairhope, Alabama<br> December 2002, Group Show, The Cannery, Fairhope, Alabama<br> Other Group Shows Include: University of South Alabama, Upstairs Gallery, Eastern Shore Art Center, Jubilee Festival, Shrimp Festival, and others&nbsp; </span></font></p> <p class="MsoNormal"><font face="Verdana" size="2"><span style="mso-bidi-font-size: 10.0pt"><b style="mso-bidi-font-weight:normal">Solo Art Exhibitions: </b>        </span></font></p>    
  <p
     class="MsoNormal"><font face="Verdana" size="2"><span style="mso-bidi-font-size:
     10.0pt"><a href="http://www.huffingtonpost.com/rajeev-goyal/jules-whites-debut-la-exh_b_834464.html">March, 2011, Gregory Way Gallery</a>, Beverly Hills, CA </span></font></p> 
  <p
     class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size:
           10.0pt">
           June, 2006, Summit Gallery, Fairhope, AL
         
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           May, 2003, Alabama Writers Symposium, Monroeville, Alabama
          
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           April, 2003, One-Man Show, The Summit Gallery, Fairhope, Alabama<br> February, 2002 One-Man Show, Eastern Shore Art Museum, Fairhope Alabama
          
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           June, 2000 One-Man Show, Bay Rivers Art Guild, Daphne Alabama<br> January, 2000 One-Man Show, Cathedral Square Art Gallery, Mobile Alabama<br> July, 1999 One-Man Show, Upstairs Gallery, Arlington, Texas<br> May, 1999 One-Man Show, President's Mansion, Brown University, Providence, Rhode Island<br> December, 1999 One-Man Show, Bay Rivers Art Guild, Daphne, Alabama<br> December, 1998 One-Man Show, Bay Rivers Art Guild, Daphne, Alabama&nbsp;
          
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           <b style="mso-bidi-font-weight:normal">Galleries: </b>
          
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           Artworks handled by:<br> Gallery Soco, Austin, Texas<br> The Upstairs Gallery, Arlington, Texas<br> Art Is Ok, Albuquerque, New Mexico<br> The Cathedral Square Gallery, Mobile, Alabama<br> Summit Gallery, Fairhope, Alabama
          
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           <b style="mso-bidi-font-weight:normal">Other: </b>
          
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           Artwork accepted by the "The Boston Review," Cambridge, MA, for publication in the summer, 2003 issue
          
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           Book Jacket Illustration ("Falling Into Mobile Bay," for the volume <i style="mso-bidi-font-style:normal">News About</i> <i style="mso-bidi-font-style:normal">People You Know</i> by Robert Phillips, The Texas Press, fall, 2002)
           
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           Magazine cover illustration ("Falling Into Mobile Bay," Natural Awakenings, March, 2002)<br> Artwork featured in: <i style="mso-bidi-font-style:normal">The Fort Worth Star Telegram, The Arlington Morning News, The Mobile Press Register, The Birmingham Weekly, Mobile Bay Monthly Magazine, Daphne Bulletin, The Baldwin Register, Eastern Shore Courier</i>, About.com, and others&nbsp;
           
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <b style="mso-bidi-font-weight:normal">
        <font face="Verdana" size="2">
           <span style="mso-bidi-font-size: 10.0pt">
   Work Experience: 
   
           </span>
        </font>
     </b>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           2002, Design and Technology Director, Christopher Isherwood Foundation, Santa Monica, California &nbsp;
           
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           2001-2002, IBM IT Professional, developed large scale software applications and optimization systems for Fortune 500 companies using technologies such as JAVA, XML, CORBA, C++, Geo-databases, Rule-Engines, Swing, and MQ. I also worked as a graphic designer for IBM's e-business Innovation Center.&nbsp;
           
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           2002, Art Editor, American Center for Artists, website (www.americanartists.org) 
          
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana" size="2">
        <span style="mso-bidi-font-size: 10.0pt">
           2000, Chief Software Architect, Software Teacher Inc., led the development team, including the graphic design, for the Fiction Writing, Business Writing, and Basic Composition programs&nbsp;
           
        </span>
     </font>
  </p>
  <p class="MsoNormal">
     <font face="Verdana">
        <font size="2">
           <span style="mso-bidi-font-size: 10.0pt">
   1997-1999, Art Instructor, Bay Rivers Art Guild, taught classes on painting and drawing
   <span style="mso-bidi-font-size: 10.0pt; color: windowtext; mso-font-kerning: 0pt">
     
   </span>
           </span>
        </font>
        <span style="font-size:12.0pt;mso-bidi-font-size:10.0pt;color:windowtext;mso-font-kerning:0pt"> </o:p> </span>
     </font>
  </p>
  <p>&nbsp;
          </td>
          <td width="5%" valign="top"><font face="Verdana"><img border="0" src="../../images/decoration_images/divider.gif" width="20" height="400"></font></td>
          <td width="47%" valign="top">
  <a href="../../images/JulesArt/Gate.jpg" rel="lightbox"><img border="0" src="../../images/JulesArt/Gate_s.jpg"/></a><br clear="left"/><font size="1" face="Verdana"><i>The Gate</i>, Photo-collage</font></p>
  <p>
  <a href="../../images/JulesArt/red_storm_low_res_smaller.jpg"  rel="lightbox">
  <img border="0" width="260" src="../../images/JulesArt/red_storm_low_res_smaller.jpg"/>
  </a>
  <br clear="left"/><font size="1" face="Verdana"><i>Summer Storm</i>, Oil and Pastel on Paper
  </font><br/></p><a href="../../images/JulesArt/NewGallery/boston_newest.jpg"  rel="lightbox"><img border="0" src="../../images/JulesArt/NewGallery/bostons.jpg" width="260" height="82"> </a> <br clear="left"/></font><font size="1"> <font face="Verdana"> <i>Overlooking Boston</i>,          Acrylic and Ink on Canvas</font></font>          </p> 
  <font size="1">
     <p><font face="Verdana"><a href="../../images/JulesArt/NewGallery/red_flower_black_vase.jpg"  rel="lightbox"><img border="0" src="../../images/JulesArt/NewGallery/red_flower_black_vase_s.jpg" width="260" height="195"> </a> <br clear="left"/> <i>Vase with Flowers</i>, Photo-College</font></p>
     <p>
        <font face="Verdana"><a href="../../images/JulesArt/NewGallery/dad.jpg"  rel="lightbox"><img border="0" src="../../images/JulesArt/NewGallery/dads.jpg" width="260" height="347"></a></font><br clear="left"/>
  </font>
  <font size="1"> <font face="Verdana"> <i>Father</i>, Acrylic on Canvas</font></p> <p><a href="../../images/JulesArt/NewGallery/mom_black_dress.jpg" rel="lightbox"><img border="0" src="../../images/JulesArt/NewGallery/mom_black_dress_s.jpg" width="260" height="432"> </a> <br clear="left"/></font><font size="1"> <font face="Verdana"> <i>Mother</i>, Acrylic on Canvas</font></p>  <p><a href="../../images/JulesArt/NewGallery/currents.jpg"  rel="lightbox"><img border="0" src="../../images/JulesArt/NewGallery/currentss.jpg" width="260" height="195"> </a> <br clear="left"/></font><font size="1"> <font face="Verdana"> <i>Currents</i>, Acrylic and Ink on Paper</font></p>  <p><a href="../../images/JulesArt/NewGallery/porch_collage.jpg" rel="lightbox"><img border="0" src="../../images/JulesArt/NewGallery/porch_collages.jpg" width="260" height="347"> </a> <br clear="left"/></font><font size="1"> <font face="Verdana"> <i>Doorway</i>, Photo-Collage</font></p>  <p><a href="../../images/JulesArt/NewGallery/typewriter.jpg" rel="lightbox"><img border="0" src="../../images/JulesArt/NewGallery/typewriters.jpg" width="260" height="335"> </a> <br clear="left"/></font><font size="1"> <font face="Verdana"> <i>Typewriter</i>, Photo-Collage</font></p>  <p><a href="../../images/JulesArt/NewGallery/striped_camellia.jpg" rel="lightbox"><img border="0" src="../../images/JulesArt/NewGallery/striped_camellias.jpg" width="260" height="199"> </a> <br clear="left"/></font><font size="1"> <font face="Verdana"> <i>Striped Camellia</i>, Photo-Collage</font></p>  <p><font face="Verdana"><br/><a href="../../images/JulesArt/NewGallery/the_orange.jpg" rel="lightbox"><img border="0" src="../../images/JulesArt/NewGallery/the_oranges.jpg" width="260" height="195"></a></font> <br clear="left"/></font><font size="1"> <font face="Verdana"> <i>The Orange</i>, Photo-Collage</font></p>  
  <p><font face="Verdana"><a href="../../images/JulesArt/NewGallery/tulip_red_photo_of_the_coll.jpg" rel="lightbox"><img border="0" src="../../images/JulesArt/NewGallery/tulip_red_s.jpg" width="260" height="173"> </a> <br clear="left"/></font><font size="1"> <font face="Verdana"> <i>Red Tulip</i>, Photo-Collage</font></font></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
          </td>
       </tr>
    </table>
 </td>
         </tr>
    
