---

layout: "article"
title: "The Decline and Fall of the British Aristocracy"
authors: "John Sledge"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p>Editor’s
          Note: It has gone the way of the dinosaurs.
          The British aristocracy is no more.
          It took a long time to pass away, over a hundred years in fact. But the recent victory of Tony Blair’s Labour government in
          denying the vote to hereditary peers in the House of Lords is the
          final nail in the coffin. From
          a position of fabulous wealth, power and privilege a century ago, the
          British aristocracy has fallen to insignificance today.</p><p></p><p>In
          an event-filled century, the death of the British ruling class is an
          important and compelling story. A
          reissue of a book first published in 1990, <book><title>The Decline and Fall of the British Aristocracy</title><author></author></book>, (Vintage, paper, $20),
          charts this story in thorough and engrossing detail.
          Today’s Books page focuses on Cannadine’s epochal work, and
          by way of introduction, presents a short piece of historical fiction,
          the better to illuminate some of the themes within this great drama.</p><p></p><p></p><p>THE
          FALL OF THE HOUSE OF BURLEIGH</p><p></p><p>He
          was born on a chill April morning in 1880.
          His mother, diminutive in the massive four-poster bed, was
          exhausted by her long labor. After
          he had nursed and been cleaned, his father, the Duke of Wiltshire,
          took him out of the bedchamber and held him aloft for the servants in
          the hall below to see. They smiled and clapped, welcoming the eighth Lord Burleigh,
          healthy and robust, into his privileged world.</p><p></p><p>The
          family home, Burleigh Hall, was a famous landmark, a massive, 18<sup>th
          </sup>century porticoed stone edifice topped with statues.
          It was surrounded by landscaped gardens and served as the seat
          for twenty thousand acres of rich farmland, all owned by the Duke.
          The vast estate included villages of houses, shops and pubs and
          small farms with cottages and barns.</p><p></p><p>Lord
          Burleigh wanted for nothing. From
          the moment of birth, servants saw to his every need: nursemaids to
          rock him and read to him when he was small, a gardener to lead him
          around the grounds on a pony, and a gentleman’s gentleman to put out
          his dinner attire and attend him when he was a young man.</p><p></p><p>His
          father the Duke was a hereditary member of the House of Lords, as Lord
          Burleigh himself would be one day, and was often in London attending
          Parliament. The family
          had an elegant town home there. His
          mother, the Duchess, gentle and kind, directed the household
          activities of the servants from the drawing room with her books or
          needlework close at hand. From her Lord Burleigh learned the advantages of an even
          temper and steady habits. His
          father was less even-tempered, and one of his most vivid early
          memories was of the Duke raging through the house damning Prime
          Minister Gladstone to hell. "He’s
          done us in!" the Duke had roared.
          "Given the vote to every dreary shopkeeper and tradesman!
          No good will come of this!"</p><p></p><p>Lord
          Burleigh’s education was the best--public school at Eton, then
          Oxford, where he excelled at history.
          After graduation, he returned to Burleigh Hall to prove himself
          a worthy heir to the Duke. Then
          came the government’s efforts at land reform and its determination
          to raise taxes. Lord
          Burleigh winced at the vicious attacks on his class by Lloyd George
          and others, who accused them of being useless wastrels.
          His father had his first stroke that year, after months of
          fighting the reforms.</p><p></p><p>The
          Great War gave Lord Burleigh hope that he and his fellow aristocrats
          could at last forcefully prove their mettle and value to the realm.
          He raised a company of working-class men from the estate, and
          crossed the channel with them as their captain.
          "I can’t wait to see the show," he wrote to his mother
          from France, "I’ll give them what for." But "the show" proved more terrible than he or anyone
          else could have imagined. Virtually
          all the boys he had known at Eton and Oxford were killed or wounded
          during the first two years of fighting.</p><p></p><p>By
          the summer of 1916, he had no more illusions: He was there because he
          was there. He knew it was
          no longer a question of if he would be killed, but rather when. In the nightmarish world of the trenches he became closer to
          his men. Whatever their
          social backgrounds, he respected them as soldiers, shared their
          hardships and grieved over their deaths.
          And then came the fateful day of the big push.
          When the signal to attack came, he clambered out of the trench
          and led his men forward. They
          were met by a sheet of flame.</p><p></p><p>He
          awoke in hospital days later, unable to remember anything other than
          the noise and the unbearable pain.
          The nurses explained that he had taken shrapnel in his leg, and
          that his unit was decimated. Within
          a matter of weeks he was walking with a cane, but for him the war was
          over. He was shipped
          home, physically and mentally scarred.
          The sight of Burleigh Hall was a balm to his soul, however, and
          he gloried in the smell of the gardens and the cool feel of the marble
          halls. His parents had
          worried desperately over his fate, and were visibly aged and worn.</p><p></p><p>The
          Duke died two years later, and Lord Burleigh came into his
          inheritance. At night he
          would pore over the records and bills, wondering how he was going to
          hold it all together. Rents
          were down, taxes were up and competition abroad had significantly
          depressed agricultural prices. Awful
          as it was to admit, there was nothing to do but sell off enough of the
          estate to financially square matters.
          Though Lord Burleigh was now a hereditary peer, he rarely
          attended Parliament (after all, it was the blundering politicians who
          had foolishly sent him and his fellows into the trenches).
          And so, painful as it was to do so, he sold the London
          residence to a war orphan society.
          He also sold off over 5,000 acres of Burleigh Manor itself to
          several different parties. Land
          was no longer the key to power; it was, instead, a distinct liability.</p><p></p><p>The
          postwar social scene was a dismal run of parties attended by
          obnoxious, socially obscure young people and vulgar businessmen
          chomping expensive cigars. Lord
          Burleigh attended several out of a sense of obligation, but then
          became disgusted and determined to spend some time abroad.
          After his mother died, he closed Burleigh Hall and paid an
          elderly caretaker to keep watch over things.</p><p></p><p>His
          first destination was Egypt, where he found that his leg pained him
          less in the warm climate. While
          cruising the Nile he met a fellow veteran and aristocrat, Lord Dunbar,
          who was also fleeing travail at home.
          The two of them spent months together, indolently wandering the
          broad African continent. They
          shot big game, canoed Lake Tanganyika and gazed at Victoria Falls.
          They parted after a year, and Lord Burleigh decided to return
          to England.</p><p></p><p>At
          age 52, he married a much younger American woman. They had two sons and for a time Burleigh Hall seemed alive
          again as the delighted giggles of children once more echoed through
          its rooms. But the house
          was more than the family needed or could keep up, and in 1938 they
          demolished the wings. Then
          came the Second World War, and though the family was safe from the
          bombing raids that devastated the cities, their lives were disrupted
          as the British army commandeered the house and grounds for a training
          base.</p><p></p><p>After
          World War II, Lord Burleigh was forced to sell off most of his
          remaining acreage. The
          older he got the more his war wounds pained him, and his children
          thought him sad. He died
          in 1955 after a stroke. His
          widow struggled to keep the house up, but servants were impossible to
          get and she despaired. Home
          from Oxford, her eldest son suggested she open the house for tours,
          charging the public to wander through Burleigh Hall’s magnificent
          spaces. Being an
          American, she was nothing if not practical, and thought it an inspired
          idea. In 1957 Burleigh
          Hall opened to the public and people streamed through by the
          thousands, gawking at its treasures.
          Lady Burleigh would stand on the staircase as they came in,
          smiling and nodding. Occasionally, a guest would stray outside and marvel at the
          green fields and hedgerows stretching towards the horizon, and wonder
          what it was like to live in such an extraordinary place.</p><p><book><title>The Decline and Fall of the British Aristocracy</title><author></author></book></p><p>Vintage,
          paper, $20.</p><p></p><p>"Even
          in an era when the word processor has encouraged unprecedented
          authorial prolixity, this remains a long book."
          So writes David Cannadine, a professor at the London School of
          Economics, in the new preface to his monumental study of the British
          aristocracy’s slow demise. Indeed,
          at 813 pages, including appendices, notes and index, this hefty book
          would make a serviceable doorstop.
          Yet the story it tells--how a small number of incredibly
          wealthy and powerful families fell from a pinnacle of influence and
          importance to near oblivion in a century’s span--is a sobering
          reminder of the transience of human affairs.</p><p></p><p>In
          1880, Cannadine informs us, the members of the British aristocracy
          (which he defines as landholders with 1,000 acres or more) were the
          "lords of the earth." They
          were a tiny minority, only 7,000 families in a country of millions.
          Yet this "tough,
          tenacious, and resourceful elite" owned four-fifths of the land in
          England, Ireland, Scotland and Wales.
          It had been that way since before the Middle Ages, and few had
          questioned it. The 18<sup>th</sup> century philosopher Edmund Burke
          expressed the prevailing view when he wrote, "Nobility is a graceful
          ornament to the civil order. It
          is the Corinthian capital of polished society."</p><p></p><p>Land
          ownership was the key to wealth, social prestige and political power.
          Along with their fertile acres and mind-boggling inherited
          fortunes, the British aristocrats presided over elegant, art-filled
          country houses and London town homes and proudly bore distinguished
          titles bestowed by royalty. They
          dominated their county governments and at the national level
          controlled both the House of Commons and the House of Lords.
          As Cannadine writes, these people had "leisure, confidence,
          experience, and expertise: they had time to govern, they were expected
          to govern." Their
          offspring, particularly second and third sons, filled the upper ranks
          of the army, the church and the civil service, making these "an
          outwork of patrician power."</p><p></p><p>After
          1880, however, historical forces converged and things began to change.
          A worldwide collapse in agricultural prices diminished the
          economic power of the large estates. In addition, there was a gradually increasing democratization
          of the British Isles. In
          1884, responding to growing pressure from influential urban trade
          unions, the Gladstone Ministry passed a series of reform measures
          which doubled the electorate, from three million to six million
          voters. Nearly 60% of the
          male population of the British Isles now had the franchise, and the
          aristocrats’ hold on the political levers weakened.</p><p></p><p>More
          extensive changes were to come. In
          1909, Lloyd George, Chancellor of the Exchequer (roughly equivalent to
          the United States’ Secretary of the Treasurer) submitted a budget to
          Parliament, which called for broad reforms.
          George’s budget was defeated by the House of Lords, but was
          only the beginning of a sustained, full-scale assault on the landed
          classes. Of modest Welsh
          stock himself, George hated the landlords, and was determined to
          loosen their hold on British society.
          In 1913 he launched his "Land Campaign," proposing higher
          taxes for landowners, governmental control of rents and higher wages
          for laborers. Throughout
          the campaign, George "pilloried the patricians" to great popular
          approval. His measures
          passed, and the aristocracy’s place in British life slipped another
          notch.</p><p></p><p>Then
          came the Great War, which the aristocrats believed would give them
          "the supreme opportunity to prove themselves and to justify their
          existence." After all,
          the historical purpose of the aristocracy was war; from feudal times
          the nobility had shouldered the responsibility for the defense of the
          realm, fielding knights and armies.</p><p></p><p>The
          patrician sons answered the call to arms, eager for battle.
          By the end of 1914 however, the glamour was gone.
          In that year alone, six peers, sixteen baronets, 95 sons of
          peers and 82 sons of baronets were killed.
          When one considers that in 1914 there were only some 500 peers,
          and not many more baronets, the impact of these deaths becomes
          evident. Over the
          subsequent months of fighting, there was hardly an aristocratic family
          that did not suffer the death or maiming of a loved one.
          In 1916 Lord Roseberg wrote, "The fountain of tears is nearly
          dry. One loss follows
          another till one is dazed." By
          war’s end, a contemporary would write, "the Feudal System vanished
          in blood and fire, and the landed classes were consumed."</p><p></p><p>In
          the gloomy aftermath of war, the landed classes were not only
          diminished in numbers but also faced with growing financial pressures.
          Over the next few years they divested themselves of millions of
          acres of land in "the greatest territorial transfer since the Norman
          Conquest and Dissolution of Monasteries."
          As it happened, however, selling off lands was not enough, and
          soon the magnificent country houses and London town homes began to be
          sold and demolished. By
          1939, over 250 mansions had fallen to the wrecking ball.</p><p></p><p>In
          another societal sea change, the makeup of the House of Commons
          changed. By 1919, only 25
          of 168 new members were aristocrats.
          The rest were plutocrats, men who had made their money in trade
          or speculation. One bitter patrician referred to them contemptuously as
          "hard-faced men." Land
          ownership was no longer a prerequisite to political clout.
          Nor was aristocratic status now enough to guarantee entree into
          the army, the church or the civil service.
          Concurrent with the rise of the plutocrats was an increase in
          "professionalism, merit-competition, bureaucracy, specialization and
          expertise," all of which worked against the old ruling order.
          Indeed, one politician labeled aristocrats "a public danger
          in all matters when quantitative knowledge, unremitting effort, vivid
          imagination and organized planning are concerned."</p><p></p><p>The
          age-old honors system changed as well.
          Titles were given away willy-nilly without regard to birth or
          merit. In 1914 for
          example, there were 700 Knights Bachelor awarded, more than triple the
          number in 1885. Even
          Lloyd George, implacable foe of the aristocracy, was made an earl. An
          old-line aristocrat, Lord Salisbury, grumbled, "You cannot throw a
          stone at a dog without hitting a knight in London."</p><p></p><p>Deprived
          of much of their former influence, the aristocrats drifted through the
          1930s and 1940s, unsure of their purpose.
          More than ever in their long history, they were the idle rich,
          partying mindlessly and, in some cases, naively dabbling in fascism.
          "They no longer knew who they were," Cannadine writes,
          "what they were doing, or where they were going."
          Lloyd George commented with satisfaction that their place in
          history would be "like the scent on a pocket handkerchief."</p><p></p><p>The
          passing of the British aristocracy was not to go unmourned.
          As early as 1945, the novelist Evelyn Waugh poignantly sketched
          its decline in "Brideshead Revisited."
          And American public television viewers pine over stories with
          aristocratic settings presented by programs like Mystery and
          Masterpiece Theatre. In
          David Cannadine’s solid and well-written analysis we now have the
          most thorough history of this fall from grace that we are likely to
          have for many a year. Sic
          transit gloria.</p></body>