---

layout: "article"
title: "Homer"
authors: "John Sledge"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p>He is the first of all our poets, and arguably still the greatest.
          Yet we know so little of him.
          Even his name is enigmatic, Homer, meaning simply "the
          hostage."
          He lived sometime during the eighth century B.C. in the western
          portion of Asia Minor.
          According to ancient legend he was blind.</p><p></p><p>Homer
          was a bard, or singer of tales, who earned his keep by reciting heroic
          poems to audiences of aristocratic warriors.
          The stories he related were very old, harkening back to the
          early Bronze Age, around 1200 B.C.
          Homer was only the latest in a long line of poets to recite
          these verses, yet by common consent, it was he who first committed
          them to writing.
          They deal with all sorts of themes: battles between heroes and
          the gods, fantastic journeys through all sorts of difficulties and the
          importance of family and tradition.</p><p></p><p>The
          two great pillars of his achievement are <book><title>The Illiad</title></book> which
          describes the final weeks of the Trojan War between the Achaeans
          (Greeks) and the Trojans, and <book><title>The Odyssey</title></book>, which relates the
          difficult return voyage from Troy of the wily Odysseus.
          These epics were originally written down in Greek, and were
          copied throughout the Middle Ages.
          Since the 17<sup>th</sup> century, they have been oft
          translated into English; by George Chapman in 1611, Alexander Pope in
          1715, Richard Lattimore in 1951 and Robert Fagels in 1990, among many
          others.</p><p></p><p>Of
          the various translations of "The Iliad," that of George Chapman is
          the most famous.
          Yet it is little read today, a great pity, since Chapman’s
          Homer has a power and majesty unmatched by any other.
          Today’s Books page is devoted to this epochal translation,
          which is happily once again available in a new paperback edition.</p><p></p><p>My
          special thanks to Jeffrey Goodman of the Alabama School of Math and
          Science for helping me to understand Elizabethan poetry in general and
          the complex fourteener in particular.</p></body>