---

layout: "article"
title: "I am Everyone I Meet"
authors: "James White"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p>
 I AM EVERYONE I MEET, RANDOM ENCOUNTERS ON THE STREETS OF LOS ANGELES
</p><p>
LOS ANGELES TIMES BOOK REVIEW
</p><p>
By Susan Salter Reynolds
June 7, 2009
</p><p>

Tabloid Books: 134 pp. paper
excerpts:
</p><p>

"In this collection of brief encounters with strangers on the streets
of Los Angeles, James P. White proves the poverty of that legacy. He
talks with people at bus stops, in lines, over counters. He talks with
homeless people, elderly people, travelers and the urban overwrought:
"Seeing the world as filled with strangers who threaten us or seeing
it as filled with other people who are like us and who interest us,
makes a difference."
</p><p>
...
</p><p>
The people White talks to, because it is Los Angeles, come from all
over the world. This makes the vignettes even more fascinating -- the
cab driver from Moscow who is the first person White has ever met who
is nostalgic for communism, the Latino man who has learned Japanese
while working in a Japanese restaurant, the Arab who lived in Israel
and proudly calls himself an Israeli Jew. "It is not so unusual," he
tells White. Not unusual but astounding, and fascinating. There is the
young man who looks so much like Jesus -- White learns that it can be
an annoying burden to look like Jesus. Why wouldn't anyone want to
look like Jesus? White wonders. "Why does this man have that face?"
</p><p>
...
</p><p>
White has an instinct for gentleness. A homeless man on a bus shows
him the contents of his bag. He wonders about things, about people's
lives. He is interested. This interest has a different quality than
caring or wanting things to be different.
</p><p>
White set out years ago to write a spiritual history of Los Angeles.
Not long into the project he realized "just how easily it could fail
under its own weight." So he wrote this book instead. Something
similar in many ways, but different."
</p><p>
SEND ORDERS FOR THIS BOOK TO:
Tabloid Books, PO Box 272, 1223 Wilshire Boulevard, Santa Monica, Ca 90403
               </p></body>