---

layout: "article"
title: "An Interview with R.V. Cassill"
authors: ""
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p> R.V. Cassill was my first fiction writing teacher, though he has never met me.  In 1991, while an
      undergraduate at the University of South Alabama, I took Modern Short Story; my textbook was
      <i>
      The Norton Anthology of Short Fiction</i>, 4th edition, edited by R.V. Cassill.  That summer I
      brought that bookhome with me.In the back, Cassill includes a 15-page section called "Writing
      Fiction." I followed his prescriptions meticulously: copying bits of Ernest Hemingway and Frank
      O'Connor word-for-word, then translating those passages to reflect my own style; mirroring the
      form of James Thurber; revising and revising and revising my prose, looking for that right blend
      of literary elements.  As he claims in <i> Writing Fiction</i>, "Writing is a way of coming to terms with
      the world and with oneself.  The whole spirit of writing is to overcome narrowness and fear by
      giving order, measure, and significance to the flux of experience constantly dinning into our
      lives."</p><p> In Cassill's prose one sees this flux of experience crafted
      expertly to reveal the significant aspects
      of the world.  My first intimate exposure to his stories came a few years later, while I was
      associate editor at Texas Center for Writers Press, a literary press now located in Alabama.  The
      publisher, James White, who conducts the interview that follows, asked if I knew who
      R.V. Cassill was (he called him "Verlin") because we were publishing three of his stories in a
      chapbook.  What an opportunity!  My most diligent editorial effort went into that 39-page book,
      entitled <i> Late Stories</i>.  I read and re-read the stories, delighting in how he takes the extremely
      ordinary and pulls something special and exact out of it.  His description of the "genius of
      fiction" comes through clearly in his own work: "to train readers in what it is important to take
      note of among the incredible profusion of details and events crowding everyday existence--to
      train us to select what counts, what signifies, what fits with other details of observation to give a
      sum of meaning to patterns emerging from the superficial chaos of life."
      
       To appreciate Cassill's fiction, one can choose from a wealth of publications.  A prolific writer,
      Cassill has authored over 20 novels, including <i> Clem Anderson</i> (1961),
      <i> The President </i> (1964), <i> The
      Goss Women</i> (1974), <i> Hoyt's Child</i> (1976), <i> Labors of Love</i> (1980), and
      <i> After Goliath </i> (1985). In
      addition, his story collections include <i> The Father</i> (1965) and <i> The Happy Marriage</i> (1967), and in
      1989 the University of Arkansas Press published his 650-page <i> Collected
      Stories</i>.</p><p> Cassill's own life demonstrates extraordinary achievement emerging from an ordinary life of
      writing and teaching.  Born in 1919 in Cedar Falls, Iowa, he studied art, but after Army service in
      the South Pacific during World War II, he turned his attention toward writing and publishing
      fiction.  He has taught writing and literature at the University of Iowa Writer's Workshop,
      Purdue, Columbia, Harvard, and most recently as professor emeritus of English at Brown.  He
      currently resides in Providence, Rhode Island.  Besides writing fiction, he has published a
      teaching text, <i> Writing Fiction</i>, and edited both the <i> Norton Anthology of Short Fiction</i> and the
      <i>
      Norton Anthology of Contemporary Fiction</i>.  His honors include Fulbright, Rockefeller, and
      Guggenheim fellowships.  The interview that follows was conducted in the spring of 1999.
      
       I don't think I ever achieved "order, measure, and significance" in my fiction writing that
      summer, but that is not quite the point.  Cassill states, "Everyone who writes makes some
      attempt to face those fears by the very act of writing as best he can."  I did try my best, and
      although fiction is no longer my main concern, I still write--rhetoric, composition, and technical
      communication.  And my love for reading fiction is as strong as ever.  And as a professor, I teach
      several sections of students every semester how to write, and that instruction includes imitation,
      form, and constant revision.  The introduction to his story "The Father" in the
      <i> Norton Anthology</i>--an introduction that Cassill as editor must have written himself--states, "he numbers many
      novelists and short story writers among his former students."  How interesting that in a brief
      introduction someone with such a distinguished writing career includes the influence he has had
      as teacher.  As the first inspiration toward a career in teaching and writing, one could do no better
      than R.V. Cassill.</p><p> Interview:</p><p><i>I want
      to talk about your writing. When you look back on the whole concept of
      fiction and the field of writing fiction at the time and how it’s
      changed, and then put yourself into it individually. Is that interesting?</i></p><p>The whole
      thing as I see it, as I saw it and how it’s changed. I’ll start by
      saying I don’t’ know if I could begin now at the age I was then.</p><p><i>And how
      old were you then?</i></p><p>I published
      my first story in something like <i>National Little Magazine : The
      American Prefaces.</i> When I was 19, I think.</p><p><i>And
      what was the name of that story?</i></p><p>I think the
      story was called "To the Clear Mountains."</p><p><i>And
        what was it about?</i></p><p>
      About a husband driving his wife to a sanitarium in Colorado, crossing the
      plains and looking out at the mountains ahead of them.
      I may be quite wrong–titles, dates, so forth. It’s been a long
      time ago. But back to the main thing. Except for the four years I was in
      the Army during the War, I’ve been working on fiction all the time from
      then; that would have been 39 to 85, when I published <u>After</u><u>Goliath</u>,
      the last novel I published. And has fiction changed? Yeah, sure. It’s
      spread without perhaps deepening.</p><p>
      I have only what everyone else has–an
      impression of what it is now, but I know this at least, that there are
      many many more literary magazines at colleges and universities and
      elsewhere just coming from groups, than there were in 1939 when <i>American
      Prefaces</i> was one of relatively few such magazines in the country. So
      there are more magazines and more people writing fiction, and I believe
      more people writing good stories.</p><p>
      And I do think that these good stories
      that they write are more numerous than the good stories that were written
      all those years ago.</p><p>
      At the same time, I’m not sure that the
      resonance in our national consciousness is any greater. In some ways I
      think it’s less than in the thirties. The names of writers in the
      thirties–and I’m thinking of novelists here–they seem to represent
      something as names. Thomas Wolfe, Sinclair Lewis, Hemingway, Fitzgerald,
      and Faulkner of course. Its seems to me that they stood for something,
      some special segment of the vision of what our lives were like.</p><p>
      Anyone
      writing now, I think there’s been the obvious shift to story telling and
      films and TV, and I think there are certainly many more good movies and
      good stories on film than there were 45 or 50 years ago, but the same
      thing may be said. I’m not
      sure they dig deeper or plunge deeper into our national consciousness
      individually or as a group than those what were current in those old days.
      As a matter of fact, though I think movies are definitely better now
      (there are so many, such crud going on.)</p><p>
      But is the story of the American
      experience deepened, refined, enlarged by the evolutions of the last 50
      years? I don’t know that it has been. It’s somewhat changed, but in a
      sense it seems to me like one step forward, one step back. You slide away,
      and you know no more that you did before, or you have the problem of a
      different audience. There’s been all this talk the last two weeks about
      the high school shootings in Colorado, and the more I unavoidably listen
      to it, the more I’ve thought something is wrong, they’re not getting
      it. The announcers are
      talking to each other; all they know is it’s a big story, and they keep
      telling each other it has stirred the hearts and minds of the American
      people, as they shallow it out and make it less intelligible.</p><p>
      It seems to me that somewhere along the line fiction
      writers have been pushed out of the picture. That the story that’s
      getting through here is not the story at all in the sense that I would
      recognize. There are people who have done much better and got to a level
      of understanding who are being obscured by this multiplicity of coverage.
      There’s a novel of Bill Harrison’s. Do you know Bill?</p><p><i>I
        know who he is. At Arkansas. I think I’ve met him once. </i></p><p>
        Yes, and his novel which came out twenty years or so ago is called <u>In
        A Wild Sanctuary</u>. It’s about a suicide pact. Some four or five
        college kids get up and it sort of runs its course with people trying to
        save them, trying to catch on to what they’re up to. It seems to me
        frighteningly wonderful because it bites truly into an area that isn’t
        well represented elsewhere, that the cliches try to cover as quickly as
        they can, and do so more and more as time goes by. "How do we prevent
        such things form happening again?" Whoever told anybody that was the
        central question?</p><p>
        For Christ Jesus sake, it may not be all.
        A thing happens. A life has been lived and taken and rejected.
        And we would somehow, very deeply, we’d like to understand what this
        means. We don’t want to
        set up metal detectors at bedroom doors and everywhere else to keep it
        from happening again.</p><p>
        I assume that fiction wants to carry us to the heart of
        experience as only language can. Language which is contemporary with the
        event or that comes later. I mean fiction and poetry here. I was
        thinking this week of Wordsworth’s <i>Lucy</i> poems, and the little
        child. "What Can She Know of Death" is one of the poems in that
        cluster, and Wordsworth keeps asking, "How many in your family?" and
        she says, "Master, we are seven." And he says yes, but there are a
        couple of you up in the graveyard, a couple of you went to America...
        "Master, we are seven."</p><p>
        This is enduring poetry. It tells us
        what fiction should and what poetry should about the nature of our lives
        and the relationships within them. Or to take another poem. (Poems are
        easier to talk about). "Lovely woman stoops to folly and finds too
        late that men betray...What charm can soothe her melancholy ...What art
        can wash her guilt away." What can she do to bring repentance to her lover is to die.</p><p>
        The way
        that poem works for us in terms of the lives we have known and the lives
        we’re trying to possess seems to me the proper goal of fiction: at any
        time to go as gently, deeply, savagely as possible into it–life as
        life really is.</p><p>
      I was thinking too, that there are sentences I remember in fiction that
      have the poignancy and permanence of lines of poetry and they seem
      extremely simple, lines not loaded with emotion or meaning, but it is
      there. (And it depends upon the form.) The end of <u>Wuthering Heights</u>:
      "Take me up in your arms, Heathcliffe, so I can see them moors again."
      There we are. Or Mrs. Morrell coming home from the hospital in <u>Sons and
      Lovers</u>, dying of cancer. She looks out the window and says, "There
      are my sunflowers." Charlotte
      Rittmeyer, dying terribly in the end of <u>The Wild Palms</u> says, "We
      had fun, didn’t we Harry, up in the snow?" These overwhelmingly charged lines in fiction,
      which are charged by the whole bulk of the story–they don’t deliver
      their force and brilliance just in themselves because they pertain to the
      characters which come before them. Those
      are some of the things which I think are most valuable, most precious in
      fiction. And are they a guide to us to keep it from happening again? No.
      No, they’re not. It will happen again forever and forever, and that
      would be alright. But what is
      not alright is to misunderstand it, or fail to grasp when you <i>could</i>
      grasp or understand it when it has happened, or when it is happening, or
      when it has been made to happen by the arts.
      The arts are things that make things happen, that are partly real,
      partly the material world, but need the arts for completion.</p><p>And would I
      do it again? I don’t know if I could. In many ways I’ve lost heart.</p><p><i>What
        do you mean when you say that? The
        way you were just talking was full of heart. What you were just saying
        was all heart. </i></p><p>Well...</p><p><i>You
        haven’t lost it if you can talk like that. Everything you were saying
        was in a sense of hope and renewal and integrity, the character of what
        the thing itself is. That’s not losing heart. </i></p><p>
        No. Yes. Yes and no. No, it’s not losing heart in a sense. "There is
        the dearest freshness deep down things." It’s a poem about how the
        world has been fucked up, fucked over. But there remains the dearest
        freshness. I see it. I recognize it. To the extent that I have been
        able--in my life, my work-- to touch it or lift some of it up for
        display. I don’t think I
        could do that anymore. I
        think it’s a gift I’ve used up.</p><p><i>You’d
        done it.</i></p><p>
        Well, I don’t know. I don’t write anymore. I have some ideas of
        stories. I think, hey, that’s a good idea. I think in other times I
        would have made a story out of it. And even poems. Some things come to
        me and I know I could work them up or work them out if I sat down to it.
        Like last fall, I started something that came to me. "To Susan, To
        Make the Most of Time." And it begins, "I’ve fucked many girls
        with wonderful names, but never a girl named Susan." (Laughs) I know
        how to finish this; get some more names in, some more attributes and
        I’d have a nice little poem. But I never touched it again.</p><p><i>I
        wanted to ask you this too. You’ve written novels that were
        autobiographical, and novels that weren’t autobiographical at all.
        Sometimes you’ve used autobiographical material, and sometimes you
        haven’t at all. Will you discuss the whole concept of you and
        autobiography, the use of autobiographical material or not using it, and
        what that is. </i></p><p>
        I guess so. Ask me another day, and I’d say something different. But I
        think I know this...</p><p><i>Where
        is it in your fiction?</i></p><p>
      It’s in some of my novels and stories, and not in some. The last story I
      wrote is one which you were good enough to publish in the pamphlet called <i>Late
      Stories</i> It’s a straight on account, but it seemed
      to me a story too. And the other one, almost as late as this one,
      called "Marriage" about my mother and father, these are straight on
      autobiography. And I would say, by and large, there’s more autobiography
      in my short stories than in my novels.</p></body>