---

layout: "article"
title: "Life's Illusions "
authors: "James McCormick"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p>
          I want to share with you some very personal experiences in the
          belief that with this revelation will come an awareness that beneath
          the very thin facade which we show our fellow man we are all of a
          kindred spirit. The
          battles we are fighting, which we think are uniquely our own, are
          shared by all of us. I
          hope that I cause you to have a feeling of love and understanding for
          those around you that you have never felt before.</p><p>
          I grew up in a small Texas town in the 1930s and early 1940s.
          The center of my life was the Baptist church.
          My mother saw that my two brothers and I were on the very front
          pews every Sunday, and my religious concepts were molded by that
          experience.</p><p>
          I grew up to embrace without question an omniscient and
          omnipotent God who ruled the world in an orderly fashion.
          All of the values I possessed were instilled by that
          background. And then I
          had an experience in 1943 that completely shattered my values, my
          belief in the orderliness of things and in the God whom I had assumed
          was in charge.</p><p>
          I was a twenty-year-old flyer, just a boy, responsible for a
          crew, most of whom were older than I.
          To this day, I believe it was my fault that one of those men
          died. The event changed
          my life. I came first to
          despise and later to simply reject a God who could let such a thing
          happen. The God Whom I
          had accepted without question as a child was too much in charge to
          allow such an event, and if he would, I simply didn't need him anymore
          . . . so I just erased him from my need.</p><p>
          A remarkable change occurred in my life that lasted until I was
          in my first year of college. The
          change affected me in strange ways:</p><p>
          I set out with a passionate zeal to get an education.
          Always a mediocre student in high school, I was admitted to
          college on academic probation. I
          did four years of work in exactly twenty-three months, graduating with
          two degrees, number three scholastically in a class of more than three
          hundred. I mention this
          fact not to indicate how smart I am, which I am not, but rather to
          show with what zeal I pursued the job of getting an education.</p><p>
          I became a physical fitness buff, building the muscles in my
          body, conditioning myself both mentally and physically.</p><p>
          I became very aggressive, maybe even ruthless, about making
          money.</p><p>
          Up to that point, my objective was not to be rich, I just
          didn't want to be poor. I
          didn't want my family to be poor.</p><p>
          I believe I was attempting to insulate myself from all
          need--physical, financial, and particularly, spiritual.
          I had subconsciously decided that if God did not exist, I had
          to make it in this world without him.</p><p>
          Suddenly the independent and secure life I had built for myself
          was shattered. I awoke embowelled in an iron lung. My strong body was completely paralyzed, and I was even more
          helpless than I was the moment I was born.
          For the first time in my life, I was one hundred percent
          dependent on something or someone other than myself.</p><p>
          At this point, let me attempt in a few words to describe the
          indescribable--life in an iron lung.</p><p>-
          Complete and absolute paralysis of the entire body.</p><p>-
          The claustrophobic panic of being enclosed in a small metal tank.</p><p>-
          Being able to see only the ceiling, not even the walls.</p><p>-
          The inability to communicate because of paralysis of vocal muscles.</p><p>-
          The unbelievable, never-ceasing noise of the machine I was a prisoner
          of.</p><p>-
          The inability to eat or even swallow saliva because of muscle
          paralysis.</p><p>-
          The constant pain and never-ending trickle of bleeding from the
          pressure of the sealing collar on the tracheotomy.</p><p>-
          Smelly, painful, unhealable bed sores.</p><p>-
          Narcotic-induced nightmares.</p><p>-
          Waking up to a reality that was always worse than the nightmare.</p><p>-
          The sight and ever-present smell of death.</p><p>-
          Utter and complete despair and hopelessness.</p><p>-
          The constant realization that I might not die, that I might be
          suspended in this hell for forty years.</p><p>
          With nowhere else to go, I sought the God I had rejected years
          earlier. "God,"
          I said (and there were no "thee's" and "thou's" in
          these silent but passionate conversations--this was man-to-man talk).
          "If you will take me from this life, I will find some way
          to make it up to you. I
          am helpless, God. I
          cannot even take my own life, and you must do it for me."
          I knew I had become more of a burden to my family alive than if
          I were dead.</p><p>
          Later, the deal was, "God, if you will take this pain from
          me, I will never ask for another thing.
          I will lie in this machine for the rest of my life and will ask
          nothing more of you."</p><p>
          Then later, "God, I appreciate that you took the pain
          away, and I remember my promise, but let me request only one more
          thing. Please take away
          the craving for the drugs which were used to eradicate the pain.
          God, the craving for the dope is worse than the pain, and I
          didn't anticipate this. You
          have an obligation to me."</p><p>
          And later, "God, only one little other thing.
          Please make it so I can swallow again, so I can eat food and
          drink water, so that I can have these needles out of my veins and this
          tube out of my neck and my throat.
          God, for months I have listened to the sound of the water
          fountain just outside my door. A
          drink of water is the last thing I shall ever ask of you.</p><p>
          And later, "God, if I could only get out of this hospital
          bed one hour each day and be put into a wheelchair so that I could be
          taken out of this room." And
          later, "God, won't you give me just enough strength in my arms so
          that I can move the wheelchair myself?"</p><p>
          And later, "God let me walk on crutches.
          Is that so much to ask?"</p><p>
          I took several more hills in my life for me to realize that a
          person who does not hurt, who is not hungry, who can get up from where
          he is and go to another place, has everything.
          Anything else he has is a bonus.</p><p>
          To this day, I never take a drink of water that I am not
          grateful for my ability to swallow.
          I never drive by a hospital that I do not say a silent prayer
          of gratitude that I am not inside or, more importantly, that someone I
          love is not inside.</p><p>
          Several years back, I walked through the cemetery to where our
          little son and daughter lie buried, and I stood silently beside the
          graves for a long time. Finally,
          Michael, who was standing quietly beside me and who was then five,
          tugged at my sleeve and said, "Let's go, Daddy."
          Michael came from an Adoption Home, and we wouldn't have him if
          we had not experienced the heartache that was reflected in those two
          tiny tombstones.</p><p>
          What an unbearable thought it would be to think of life without
          Michael and without Kelly Elizabeth, who came to enrich our lives two
          years later from the same place.
          With pride I have watched them grow though the years and am
          occasionally overcome by the realization that it was divine destiny
          that gave them to us. These
          were the two we were supposed to have--not the ones in the graves.</p><p>
          How difficult it is to realize, but what a miracle it is, that
          Michael and Kelly each came to us as the result of the problems of two
          young girls whose identities we shall never know.
          Somewhere two women still carry the scars on their souls and
          bear heartaches that have resulted ironically in great joy and
          happiness for us. Each
          tear they shed has been offset by a thousand smiles.</p><p>
          That's what life is about.
          God creates a single tear which is miraculously transformed
          into a thousand smiles. The secret of serenity is the realization by the person who
          sheds the tear that God will do good with it, the realization that
          there is purpose sometimes we will never even know how and when the
          good will manifest. In my
          morning prayers, I thank God for the painful cancer that has invaded
          my body. When I am
          hurting, that is a hard prayer to say, but my experience has been that
          every single thing that has happened to me has ultimately become a
          blessing.</p><p>
          Let me tell you something about you that you may not have ever
          admitted to yourself. Most
          of us live an illusion. The
          illusion is that tomorrow or next week or next year I am going to be
          the kind of person I want so passionately to be.
          Forevermore, most of us go through life sincerely believing
          that:</p><p>-
          Once Mary and I recapture what we had when we first married. . .</p><p>-
          Once I find a good husband (or wife). . .</p><p>-
          Once I get control of my drinking problem. . .</p><p>-
          Once our children are educated, married and happy. . .</p><p>-
          Once my health is restored. . .</p><p>-
          Once I am happy in my work. . .</p><p>-
          Once I get my faith in God straightened out. . .</p><p>
          When I get these problems behind me, then I'll be happy.
          We say to ourselves, "About next spring all my problems
          should be over. I'll just
          have to muddle through til then--God knows I can't be happy now!"</p><p>
          I'm sorry to tell you, "<i>Forget it.</i>"
          Life, from infancy to the grave, is a series of obstacles to
          overcome. Beyond every
          hill is another, and to believe that the current hill is the last is
          to live a life of illusion which will forevermore preclude true
          serenity. Life is always
          going to be seven points behind third down and six--only the quarters
          change.</p><p>
          How often do we hear, "Why did God let that happen?"
          The fact is that the problems, the hardships, and the
          heartaches are a significant and meaningful part of the whole fabric
          of life. Paradoxically,
          they are the yeast, the catalysts of life, and without them we would
          live in indescribable misery. Does
          that sound strange to you? I
          am sure it does--but think about it for a while.</p><p>
          I'm taking a course in philosophy and religion.
          The teacher said we needed to strive for complete serenity and
          absence of pain on our lives. My
          response was, "You have just described Hell."</p><p>
          Why is this so? I
          do not know, but somehow I am convinced that the answer is entwined
          and inextricably involved with who and what God is.
          In my own life and observing the lives of others, I have
          already seen enough to convince me that <i>the last thing I want is a
          life without troubles</i>, and that to wait for such a day before I
          begin to enjoy life is to squander the most precious gift I will ever
          have--life itself.</p><p>
          The fact that I can't run the one-hundred-yard dash anymore is
          a whale of a lot less important than the fact that in the things that
          really count--love of God, love of family, love of friends, love of
          life itself--I am winning a race of a different kind.</p><p>
          God makes us the way we are.
          We feel both the bitter and the sweet, but the bitter magnifies
          the sweet. No man really
          enjoys the pleasure of breathing unless he has had an iron lung
          breathe for him. No one
          loves a child as deeply as one who has lost a child.
          No one appreciates the echo of his own steady heartbeat on his
          pillow in the stillness of the night like a man who has served time in
          the intensive care section of a hospital coronary unit.
          No one appreciates life as much as someone who has been
          diagnosed with terminal cancer.</p><p>
          Yes, there is a divine scheme of order and meaning of life.
          The wars, the riots, the assassinations--the collective as well
          as the individual heartaches--have meaning and purpose. An inexplicable God is well in command, and to believe
          otherwise is to believe there is not God, or to believe in such a
          puny, innocuous God that we would be just as well off without him.</p><p>
          Don't get hung up in what will inevitably be a futile effort to
          try to define or locate God. Don't
          get too intellectual or academic about it.
          I believe that God has neither form nor geography, and to
          attempt to define or locate him is as silly as asking a fish to
          explain the sea.</p><p>
          Accept the fact that God <i>is</i>, that he deeply loves
          you--wretched sinner though you may be, that he loves you and has
          purpose and meaning in every minute facet of your life, whether you
          are the Pope or Saddam Hussein, a preacher or a dope peddler, that he
          loves the murderer with the same fervor that he loves the murdered.</p><p>
          The most virtuous person in this world has no priority in God's
          eyes over the wino who is lying right now in a drunken stupor in some
          alley in every large city in the world.
          Yes, we displease God, but we never do anything that diminishes
          his love for us.</p><p>
          God is love.</p><p>
          God is love.</p><p>
          GOD IS COMPLETE AND UNCONDITIONAL LOVE.</p><p>
          And love is infinitely more powerful than atomic energy.
          It is the most powerful force in the universe.</p><p>
          What kind of God is this?
          It is the only kind of God I can comprehend, paradoxically an
          incomprehensible God who weaves life into an enigmatic fabric from
          black threads as well as gold, but in the finished product a fabric
          whose beauty would be diminished by the absence of either.</p><p>
          When I awake each morning, there is that brief moment between
          full consciousness and sleep. In
          those first awakening moments before opening my eyes, I listen for the
          sound of harps, and when I don't hear them I am overjoyed.
          Realizing that I didn't die during the night is a great start
          for my day.</p><p>
          As consciousness conquers sleep and I begin to get my creaky
          motor cranked and running, I get excited about the day ahead--the good
          and the not-so-good. I'm glad it's not all easy.
          I love the challenges and the feeling of elation that comes
          from slaying the dragons. The
          trick is to discern between what really is important and what isn't,
          the blessings God has abundantly bestowed on us all.</p><p>
          We have a son and daughter who are grown and live a thousand
          miles from us. To the best of my memory, I took them to the zoo one time
          when they were growing up. I
          don't think I ever read Robert Louis Stevenson to them.
          Why?--because there wasn't enough time after I had finished the
          <i>Wall Street Journal.</i></p><p>
          Two of our grandchildren were with us a while back.
          I didn't work a day, spent the whole week playing with my
          grandchildren, because it was the most important thing in life that I
          could do with my time.</p><p>
          Several years ago, my mother and father were celebrating their
          fiftieth wedding anniversary. We
          had decided that each of the children would put in writing how we felt
          about Mother and Dad. My
          brother called--"I don't know what to say."
          My reply? "Say
          what you are going to wish you had said on the day of their
          funerals."</p><p>
          If you are a man, have you ever said to a dear friend,
          "Joe, I really love you"?
          Don't make him guess. Tell
          him. I'll guarantee that
          some day you're going to wish you had.</p><p>
          We used to have a little ritual at our house.
          At dinner I usually said, "I believe this was the best day
          of my life." One day
          I had had a particularly tiring day at work.
          I was weary at dinner time, and I neglected to say, "I
          believe this was the best day of my life."
          My daughter Kelly hesitated eating.
          I asked, "What's wrong, Kelly?"
          Her eyes moistened, and she replied, "Daddy, I'm sorry
          this was not the best day of your life."
          If it hadn't been up to that point, it was then.</p><p>
          A while back, I sat in my wheelchair on the deck behind our
          house in the early dawn hours of an unbelievably beautiful morning and
          was awe-struck by the wonders of nature.
          A gentle stream, a quiet pond, two squirrels playing tag, a
          blue jay teasing our tired old cat, a mother duck and babies, a gentle
          waterfall that took months to build because the rocks had to be moved
          inch by inch--the concrete mixed bucket by bucket, experiencing the
          pride that comes from having created something that was physically
          impossible for me to create. How
          I love the word "impossible," the challenge that the word
          offers.</p><p>
          I have learned the miraculous secret of enjoying the little
          pleasures. Now don't for a minute get the impression that I go around
          with a perpetual smile on my face.
          I have my ups and downs, and I must admit that there are
          occasions when the road looks so bumpy and long that it hardly seems
          worth the traveling. I believe that God meant for me to have <i>these</i> feelings
          too. But even on the bad
          days, everywhere I look is a sound, a smell, or a sight to warm the
          coldest heart. They are
          tiny things that will likely go unnoticed if one isn't attuned to
          them, but in fact they are the most rewarding experiences in life.</p><p>-
          The sound and smell of a coffee pot on a winter morning.</p><p>-
          An unexpected letter from someone I care for.</p><p>-
          To see our country's flag.</p><p>-
          A chance to do something nice for somebody, and nobody knows but me.</p><p>-
          The sound and sight of an open fire.</p><p>-
          To ride my three-wheeler Honda through God's beautiful forest with the
          wind blowing in my face.</p><p>-
          To have my grown daughters and sons hug my neck and say, "I love
          you, Dad."</p><p>-
          To tell stories to my grandchildren.</p><p>-
          To feel snow fall on my upturned face.</p><p>-
          To listen to Beethoven's Fifth Symphony.</p><p>-
          To be greeted by my loving wife at the end of a days work.</p><p>
          Last Wednesday my whole day was made by a sight I saw on the
          way to work--a white-haired old black man with a yellow flag helping a
          little first-grade white girl cross the street.
          I grew up in a town where a white person was not supposed to
          touch a black person. And
          the sight of that old man holding the little girl's hand brought a
          tear to my eye. I am glad
          God allowed me to live long enough to see this change in our land.</p><p>
          How thankful I am for the existence of an omnipotent God who
          has woven a divine scheme for all of us, which I shall not try to
          comprehend but will accept in the faith that HE knows what he is
          doing.</p><p>
          A while back, I received a verdict from my doctors that
          suggested that my heart was a hand grenade with a pin already pulled
          and that the condition was such that an attempt to correct the problem
          with surgery would almost certainly kill me.
          From the doctor's office, I went to a park and sat on a bench,
          for a long time.</p><p>
          I thought about the polio that had almost overnight transformed
          my strong young body into that of a frail old man.
          I thought about the insidious, painful cancer that still
          ravaged my body and for which I was told there was no cure.</p><p>
          As I sat there thinking, I slowly realized that the heart
          problem and the cancer were dragons that couldn't be wrestled with
          like some of the others I had encountered in my life.
          I learned to walk again--at age twenty-four--by first literally
          crawling inch by inch, and later by falling a thousand times--by
          breaking my arms--by pulverizing my knee caps--by banging my head on
          sidewalks--by slowly and over a long period of years teaching a psyche
          which is emotionally geared for one hundred miles an hour to live in a
          body that could be stopped dead in its tracks by an eight-inch curb.</p><p>
          But these problems were much different.
          These were elusive ghosts that I could not grapple with and
          wrestle to the floor. There
          was nothing to do but wait.</p><p>
          In my park bench deliberations, I realized that I had two
          options. One was to develop a completely different life style, to
          never again wrestle with heavy rocks in my beloved back yard, to never
          again saw firewood on our place in East Texas, to in effect structure
          my life with a doctor at its very center, to set myself in a easy
          chair that was never more than a quarter mile from a hospital
          emergency room and wring my hands in anguish until the grenade
          exploded. I finally
          concluded--"To hell with that."</p><p>
          What I opted for was the second alternative.
          And that was to bask in the warmth of the realization that my
          Creator had always taken every bad thing that had happened in my life
          and somehow made it a blessing for me.</p><p>
          And by God I'm still here!
          I say those words with reverence because God is responsible.</p><p>"I
          asked God for strength that I might achieve;</p><p>I
          was made weak that I might learn humbly to obey.</p><p>I
          asked for health that I might do greater things;</p><p>I
          was given infirmity that I might do better things.</p><p>I
          asked for power that I might have the praise of men;</p><p>I
          was given weakness that I might feel the need of God.</p><p>I
          asked for all things that I might enjoy life;</p><p>I
          was given life that I might enjoy all things.</p><p>I
          got nothing that I asked for--but everything I had hoped for.</p><p>Despite
          myself, my unspoken prayers were answered.</p><p>Despite
          myself, I have been most richly blessed."</p><p>
          Author Unknown</p></body>