---

layout: "article"
title: "A Literary Ramble Through New Orleans"
authors: "John Sledge"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p>Our
          first view of New Orleans came as we raced across the broad back of
          Lake Pontchartrain. Its
          crowded skyline glimmered in the late afternoon haze and from that
          distance it looked like any other major American city.
          As we drove in closer, however, through the outer suburbs and
          up and over the ugly industrial canal, the city began to display those
          exotic aspects of its character for which it is so famous--a
          historic brick church with arches, spires and stained glass windows
          crowded close to the raised interstate, rows of frame shotgun houses
          shoehorned onto tiny lots, their facades enlivened by elaborate sawn
          filigree work and flourishing palm and live oak trees.</p><p></p><p>We
          were running late for a dinner party at the home of our New Orleans’
          hosts, however, and Frank wasn’t about to slow down for sightseeing.
          We hurtled deep into the town and exited.
          Frank knows New Orleans well, and in short order we arrived at
          our weekend headquarters, the home of Katherine Clark and Brandon
          Dorion. Katherine is a
          dear friend and an occasional reviewer for the Register’s Books
          page. Charming and
          elegant, she is an intellectual racehorse, with a bachelor’s degree
          from Harvard and a Ph.D. in Southern literature from Emory.
          She teaches English at Dillard University and has written an
          acclaimed oral history of a black Alabama midwife, <book><title>Motherwit</title></book>
          (1991). She is currently at work on an oral biography of Mobile’s
          own Eugene Walter. Her
          husband, Brandon, is from an old New Orleans family and practices
          medicine. He is boyishly
          good-looking, a connoisseur of fine wine and deeply knowledgeable of
          New Orleans’ many attractions.
          They live uptown in an 1890s Victorian house, a block away from
          Audubon Park, and two blocks from St. Charles Avenue.
          Throughout our stay I was charmed by the periodic soft metallic
          clickety-click of the streetcars, faintly audible from inside the
          house.</p><p></p><p>The
          guests were already assembled, and welcomed us warmly.
          They included writer Tom Uskali, like Katherine a Harvard grad,
          his friend Charles Gillis, a developer with interests in the Bahamas,
          Don Noble, sans his trademark goatee, an English professor at the
          University of Alabama and the host of Alabama Public Television’s
          Bookmark; and his companion, Jennifer Horne, a poet, a former editor
          at Alabama Heritage magazine and now working at the University of
          Alabama Press. Tom and
          Charles live in New Orleans, while Don and Jennifer were in town to
          see the Degas exhibit.</p><p></p><p>Dinner
          was an enchanting candlelit affair with lots of good food and
          conversation. Brandon had
          prepared a heaping dish of jambalaya, and Tom had brought a deep bowl
          full of blueberry cobbler. Seated
          before these riches, our talk was free and easy.
          Plying forks we spoke of Hemingway, the Bahamas, Cuba, and
          academe and chuckled over our shared memories of Eugene Walter.
          Katherine related how she had once asked Eugene the difference
          between Mobile and New Orleans. "Darling,"
          he had said, "Mobile is at sea level and New Orleans is below."
          Not satisfied with plain geographical fact, she pressed him for
          more. "New Orleans has
          more black magic," he finally declared, "Mobile has more white
          magic."</p><p></p><p>Don
          and Jennifer shared tales of their travels around the world to sites
          associated with Hemmingway. Don
          is an authority on the great American novelist, and is one of the
          founders of the International Hemmingway Society.
          His animated and passionate description of Hemmingway’s
          physical travails, war wounds, crash injuries and all the rest, was
          fascinating and moving.</p><p></p><p>Throughout
          the evening, general discussions with all participating would break
          off into smaller eddies of conversation among two or three
          guests-Tom and me on Gay Republicans, Don and Lynn on Kosovo, Frank
          and Jennifer on Eugene Walter, Charles and Katherine on publishing,
          Brandon and Charles and Tom on old times--which then swelled back into
          a hearty chorus with all talking together.
          It was an energetic and stimulating evening, with a love of
          books and writing at its core.</p><p></p><p>Before
          the party broke up, we compiled a list of bookstores to visit the
          following day. Well into
          the wee hours the guests departed and we stumbled reluctantly to bed.
          As I drifted into slumber, my last thoughts were of live oak
          trees and moss and water and starving poets and the clickety-click of
          streetcars in the humid air.</p><p></p><p>*
          *
          *
          *
          *</p><p></p><p>Morning
          dawned thundery and humid. Brandon
          and I took an early stroll through Audubon Park, green and muddy,
          after which the others were awake, dressed and ready for our
          explorations of the city’s bookstores.
          Our first stop was Maple Street Bookshop, not far from the
          Tulane campus. This store is housed in a somewhat fashionably
          down-at-the-heels shotgun house, its porch cluttered with literary
          posters and laminated articles about books and writers.
          Both Katherine and Frank are listed on a roll of "local
          authors" nailed to the property’s side fence.
          Throughout our weekend, in fact, I discovered to my delight
          that the New Orleans literati think of themselves as part of a
          pan-Gulf literary society. There
          is no condescension towards the authors in smaller communities along
          the littoral, like Mobile and Pensacola.
          Far from it: All are embraced and promoted.</p><p></p><p>Inside,
          Maple Street Bookshop is a wonderful warren of book jammed rooms, the
          shelves almost too tightly arranged to squeeze between. The owner was pressed and too busy to talk.
          "Call me later in the week," she said.
          As I turned away, I nearly bumped into a smiling Ellen
          Gilchrist, who was browsing the store with her grandson.
          Gilchrist divides her time between Arkansas and her native
          Mississippi Gulf Coast, where she typically spends the summers.
          We had a nice chat, and she expressed her pleasure at the
          Register’s coverage of her last book, "Flights of Angels."
          I asked her what she was working on now.
          "I’ve just finished a book," she replied, "a novella
          and five stories." She
          grinned and added that one of the tales "is a bitter, ugly story
          about Hollywood." She
          also raved about a new mystery writer she had found, Tony Hillerman. "These discoveries usually happen in summer," she said.</p><p></p><p>After
          departing Maple Street Bookshop, we drove over to Constantinople
          Street and picked up an old friend of Frank’s, Wade Welch, a native
          Alabamian "gone New Orleans," and a well-known cartoonist and
          illustrator in his adopted city.
          Wade had illustrated Frank’s novel a few years before and is
          himself the author/illustrator of an outrageously funny book of
          Louisiana anecdotes, <book><title>Ballooning Alligators</title></book> (1990).
          On our way out to the car, Wade regaled us with the true and
          fantastic tale: In 1858, as reported in the New Orleans Bee, a pair of
          daring aeronauts soared over the French Quarter astride live, eleven
          foot alligators suspended from balloons.
          This seems proof enough that New Orleans’ particular brand of
          lunacy is age old.</p><p></p><p>As
          thunder rumbled and a few raindrops spattered the ground, we made our
          way into the heart of the French Quarter to visit Faulkner House
          Books, located on Pirate’s Alley opposite the rear garden of St.
          Louis Cathedral. William
          Faulkner lived here during the 1920s, and ran with a crowd of poets
          and writers that included Sherwood Anderson.
          He wrote his first novel here in 1926, <book><title>Soldier’s Pay</title></book>.
          The store consists of one room with elegant, darkly stained
          wooden shelves from floor to high ceiling.</p><p></p><p>Inside,
          several patrons were clustered around the radio, listening to news of
          John Kennedy, Jr.’s crash at sea.
          The store’s owners had taken off for a weekend on the Alabama
          coast, so I talked to the clerk, a pleasant young woman named Anne
          Gisleson. "It’s a
          great job," she said. "I
          sit and read a lot of books." Faulkner
          House specializes in high quality, signed, first editions of Southern
          authors. Gisleson went on
          to inform me that Faulkner House enjoys a "very loyal client base
          from across the South." She
          indicated that the Internet was not a serious problem for Faulkner
          House Books, because most of their customers value the personal
          attention and camaraderie to be found in small bookstores.
          Before we departed, Frank and Wade signed a copy of <book><title>Isle of
          Joy</title></book>, which was on display. One
          of the owners of the store, Joseph DeSalvo, later e-mailed me some
          information about his business. According
          to DeSalvo, during 1998 Faulkner House Books sold 10,000 volumes and
          grossed $250,000. DeSalvo
          wrote that he expected a "moderate increase" this year.
          "I feel very lucky to be doing what I love most in the
          world," the message continued, "playing with books and making a
          good living at it."</p><p></p><p>Our
          last stop was Kaboom Books, located at 915 Barracks Street, opposite a
          small and somewhat scruffy city park.
          Kaboom is a secondhand bookshop owned by John Dillman, a former
          construction worker. Dillman
          has been in the used book business for over twenty years, and he holds
          court, there is no other way to describe it, from behind his cash
          register. "I enjoy the
          social friction of buying and selling books," he told me.
          Dillman’s store generates a great deal of friction with its
          68,000 volumes on two and a half miles of shelving.
          The prices are hard to beat: half the current cover price
          "minus whatever flaws there are." Throughout our interview, Dillman fielded phone calls and
          inquiries from customers with an easy confidence. "My customers are uniformly intelligent and interesting,"
          he declared at one point. His
          knowledge of literature is vast, and I would not be surprised if he
          has read everything in his store.</p><p></p><p>Everyone
          in our party found something wonderful in Kaboom: Frank the memoirs of
          Arthur Koestler, Brandon some Balzac, Lynn a trove of children’s
          books, Katherine a volume by native Mobilian William March with an
          introduction by none other than Allister Cooke (turns out March was
          one of his favorite authors), and myself some Henry James.
          Despite the low-budget surroundings, concrete floors and
          unpainted shelves, Kaboom Books and its garrulous proprietor hold
          infinite delights for the bibliophile.</p><p></p><p>*
          * *
          *
          *</p><p></p><p>By
          the end of our expedition, I was cheered that the flourishing
          independent book trade in New Orleans is yet another aspect of the
          city that breaks the American mould.
          As in the realms of food, music, and speech, New Orleans’
          literary culture is a thing apart.
          The city’s small bookstores have survived by aggressively
          promoting local authors and bringing them in for readings and
          signings, and by offering a stirring brio of culture and
          "friction" not available on a computer screen or in a mall.
          The Crescent City’s independent bookstores are as much about
          civilization as they are about product.
          As with so much else in New Orleans, that is something worth
          celebrating.</p></body>