---

layout: "article"
title: "Merging in San Francisco"
authors: "Mary Gray Hughes"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p>You wanted to know what it was like -- this
      merging in San Francisco. This coming together not of a young man and
      young woman but of two young men, buying a house together to be for them,
      from now on, their home. Having a ceremony of blessing of the house, too,
      by a priest and afterwards having a celebration.</p><p>
      Everyone came. Luis's family, or much of it. From Baja
      California and Los Angeles, from Scottsdale, Arizona and Mexicali,
      Mexico. Colleagues from the bank where Luis worked came and friends,
      of course. Quantities of
      his friends. Christopher, my son, had also asked friends and
      colleagues from the area -- from Berkeley and Stanford as well as San
      Francisco. And all of us, his family, flew in.</p><p> So
      what was it like? Like a roller coaster ride through a two culture
      folk-festival against a background of the most heart-tugging music --
      Verdi, say, as in "Il Trovatore." Or Puccini's
      "La Boheme" at its tenderest moments. All the while
      sprinkled with bright indelible cameos:
      petite two-year old Denise, one of my two granddaughters, and Luis's
      youngest nephew, Rafael, all of six years old, banishing barriers of age,
      sex, and language to play continuously, undistractably together, she
      enchanted and glowing, he a mix of a terribly polite little boy trying to
      act grown-up but unable ever even for a minute to stop
      giggling.</p><p> Or
      Luis's father, in the most atypical gesture possible for an older
      Mexican man, not just embracing, common enough, but kissing Luis on the
      cheek after the blessing of the house and wishing him and Christopher many
      happy years in their home together.</p><p>
      Not at all what I'd expect from a Mexican, a Catholic, a man macho in so
      many ways much like my South Texas father had been. A
      weather-beaten, rough-skinned, outdoors man, reserved and formal indoors,
      with a moustache, like my father, and wearing a black sombrero. My
      father would have worn a
      sombrero, but not black.</p><p>
      Another cameo: the entire Alvarado family eating hamburgers with
      enthusiasm, with gusto even, and with obvious practice shown by
      established preferences among the garnishes and relishes and how many
      onions and whether to have ketchup as opposed to mustard and all of this
      after, after consuming a full Mexican dinner of chicken mole and frijoles
      and tortillas and Spanish rice. The whole world, it seems, is like
      the United States -- welcomes, encompasses really, other people's food and
      devours it in any order that looks most delectable. Hamburgers for a
      second course? Sure. Or for dessert? Why not. Why not
      even though it was clear -- on display, in fact, in platters and plates
      there on the crowded tables -- that so-called more "proper," and
      definitely sweeter, desserts were to follow.</p><p>
      Since for several days the young men were to have the use of both houses,
      the one they had been renting and the one they had bought, their
      out-of-town guests were spread between the two and a nearby motel.</p><p> My
      daughter Elizabeth and her daughter, Natalie, had been settled in the
      motel where I would be. Two Alvarado sisters and a niece were there,
      too. My daughter Andrea and her daughter, petite Denise, were ensconced in
      the
      rented house along with about half the visiting Alvarado family.
      Luis and Christopher slept on the floor in their new house, that is slept
      when they weren't cleaning or cooking or making arrangements for the
      celebration. Luis turned out to be a whiz, as I suppose a banker should
      be, at logistics: who slept where, who was arriving when, who met
      whom, and who drove what cluster of people to what different
      location. All precisely scheduled on a computer print-out. A
      new and twentieth century folk-festival custom.</p><p>
      Four of Luis's five sisters had come. Also three nephews. And
      one stunningly lovely niece. A freshman in college. She
      dressed and looked so American I unthinkingly spoke to her in English and
      discovered you can look and dress American but still not speak it.
      Today's wide but not necessarily American "Gap and blue jeans"
      world.</p><p>
      The lovely niece was staying in the rented house as were Sr. and Sra.
      Alvarado. Sra. Alvarado seemed entirely at ease. She was
      both dignified and warm, with a small, very infectious smile. She
      clearly dotes on her family and on children and she was warm greeting
      me. She was happy I spoke at least some Spanish -- that lucky South
      Texas childhood -- and though we did not banish barriers at the rate
      petite Denise and Rafael did, we managed with, I think, pleasure.</p><p>
      Once the first greetings were over we dispersed to our separate locations
      to get ready for the first event. About seven that night both
      families and a small number of close friends gathered at the new house for
      the blessing. Luis has a friend who is a retired Catholic priest, now
      assisting at a nearby parish. He read the service in struggling,
      seriously struggling, Spanish. He explained afterwards that he had
      intended to read the service over again in English only he forgot.
      His one laborious effort was enough for everyone. He was vested and used
      Holy Water and the entire service was all very proper with the Alvarados
      following right along and joining in with all the appropriate
      responses. Many congratulations and embraces were exchanged
      afterwards between the two young men and between the two families.
      You could not have had a closer or better substitute for a wedding.</p><p>Now it was time
      to attack the first celebratory meal -- tamales and, I
      think, champagne. I'm not a hundred percent sure about the champagne
      as I concentrated solely on the tamales. It certainly looked like
      champagne. But the tamales were something else. The best I'd eaten
      since childhood,
      including even on my recent trips back to South Texas and crossing over to
      Mexico. Christopher and Luis had located a fabulous world-class
      tamale maker. Someone from somewhere in Central America.
      Forget the champagne or whether it was champagne. Of no consequence
      beside those tamales.</p><p>
      Luis and I then went to meet my friend Denise Braudo, who flew in from New
      York City. She is godmother specifically to my daughter Elizabeth
      but by long custom and affection to all my children. She arrived at
      10:30 pm San
      Francisco time and was welcomed , as she always is, for a multiplicity of
      reasons. This time most acutely for her fluent Spanish . She
      and I rented a car to aid in transporting guests and we followed Luis
      through the quite
      light San Francisco fog and quite crazy San Francisco freeways to our
      motel. There ended, for us, Day I.</p><p>
      Day II was the day of the great party. To be cooked, prepared for
      and
      held in the rented house as the majority of the furniture was still there.
      All day the place was filled with the odor of frijoles two of Luis's
      sisters were cooking and filled as well with the sounds and activities of
      other cooking and tidying and the entrances and exits of both families.
      There were constant entrances and exits for the rule of the house was
      either work or get out of the way and go shop or sight see.</p><p>
      Most of the Alvarados went sightseeing. My daughters took themselves
      and their daughters for a walk in a nearby park and to have Chinese lunch.
      This in a largely Hispanic area. But they'd had a Mexican lunch on
      the first day, they told me, and seen many tempting Chinese
      restaurants around -- classic San Francisco.</p><p>
      Denise Braudo and I went to inspect the new house since she had not
      arrived in time to see it the first day. It's a fabulous
      house. Built
      clambering like a vine up the side of a San Francisco hill. The
      garage is below, at street level; then you climb a floor and reach the
      study; climb another floor to the living section of the house; go out the
      back door and
      climb again to the garden; climb to the next level of garden and then up
      again and again, climbing to the very highest level of this unexpected and
      enclosed area of green and growing things. With a gorgeous
      view, when not fogged over. But you know San Francisco, it is often
      fogged over. Several weeks went by after buying the house,
      Christopher told me, before they realized they could see the ocean
      and Pt. Reyes and Marin County. A literal window of opportunity, on
      clear days.</p><p>
      Denise (senior) and I drove several hilly miles back to the old house to
      help but there was no need for additional hands. We made sure of
      this and then went, as others soon would, to dress.</p><p>
      Dressing for the party. Now here I must report, and with all of,
      shall we say, petite Denise's exuberant unrestrained satisfaction, that
      the littlest ones, my granddaughters, beat us all. Easily. And
      why not, for, as my daughter Andrea would say, they had twenty, thirty,
      forty and more years of youthful edge over everyone there except Luis's
      lovely cousin in college
      and a handsome, but not all that handsome, older Alvarado male cousin.
      What's more both little girls were dressed fit to eat -- a style of
      description not possible to avoid in that ambience of so much food.
      Natalie especially was like a little princess in a pale antique rose
      velvet dress embroidered with silver-white designs. Which on her
      caramel, butterscotch, polished pecan shell colored skin was superb.
      Maybe not so striking to the Alvarados who are used to such a skin
      color. Indeed they at first thought her Mexican. And on being
      told she was Indian, thought she was a Mexican Indian. I don't think
      any but the most firmly English-speaking Alvarados understood that she was
      from India India. Like Calcutta, India.</p><p>
      Christopher introduced us to guests we did not know. Throughout the
      evening he was a relaxed effective introducer of people and made sure they
      had something to drink and eat. The party grew larger, got crowded,
      louder and more mixed even than the multi-sourced food.
      Classicists; bankers; Berkeley and Stanford grad students in classics and
      English and other
      subjects; two musicians from somewhere but I never found out where; the
      Alvarados; us; the white-haired superb tamale maker; her daughter, who had
      helped Christopher and Luis clean the houses; her son, an expert on Lacan;
      the priest now in mufti -- or civvies, or whatever it is called.
      Those were the ones I met. I never got out onto the back terrace
      where that favorite among Mexican foods, hamburgers, got cooked.</p><p>
      Which reminds me of my favorite new word from San Francisco --
      Mexicatessan. My favorite new restaurant name is that of a
      Chinese restaurant, lavishly advertising its Chinese Mandarin
      food, and called
      "The Punjab." I have seen the future: it's San Francisco.</p><p>
      In the end it all came to an end. The quantities of food diminished,
      the noise lessened and guests began to go. Denise and I
      started getting ready to drive Elizabeth and Natalie back to our
      motel and when petite Denise was told to say goodbye and finally
      understood the meaning of what she was
      to say, she protested "NO," ferociously, and covered her eyes
      with both hands.</p><p>
      As for me, I would have liked to hold on to all of it with
      mine.      
      </p></body>