---

layout: "article"
title: "Poems"
authors: "Helene Cardona"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><poem><title>A shaft of light</title><p>   Smile behind the lips,<br></br>
      her face a sunflower<br></br>
         in a garden of trees.</p><br></br><p>   The eyes of the seagull open,<br></br>
      choose your beach.<br></br>
         Tears caught in the throat,</p><br></br><p>   Stand in mountain pose,<br></br>
      breathe the flame of the ghost,<br></br>
         a shift in reality.</p><br></br><p>   I lost my mind,<br></br>
      hanging in the void.<br></br>
         A voice enters,</p><br></br><p>   A shaft of light,<br></br>
      God's finger in the shallows,<br></br>
         consoling my inner weather.</p><br></br></poem><poem><title>Dreamer</title><p>      Oh but to get a glimpse of Aphrodite<br></br>
      And be touched by her grace,<br></br>
      To see the beauty in all things,<br></br>
      To forgive all and myself<br></br>
      And surrender, surrender, surrender.</p><br></br><p>      Oh but to get another chance at love,<br></br>
      For I worshipped Athena and I followed Artemis.<br></br>
      Here, taste the pomegranate from Cyprus,<br></br>
      Dive into the ocean,<br></br>
      Have your heart broken.</p><br></br><p>      Consider this,<br></br>
      To be lucky, to be fortunate, to be grateful,<br></br>
      Consider this, is to be alive,<br></br>
      For it is the greatest gift,<br></br>
      And it is given with death.</p><br></br><p>      See, I pay with my mother's death<br></br>
      For the price of my dreams,<br></br>
      As I now dream the world into being,<br></br>
      As I now dream new memories,<br></br>
      As I now dream myself into love falling into you.</p><br></br><p>      Oh but to let Aphrodite guide you to the great spirit,<br></br>
      Who says again and again and again,<br></br>
      The mountains am I, the rivers am I,<br></br>
      The wind, the sand and the rain am I,<br></br>
      The moon, the sun and the stars am I.</p><br></br><p>      See, her voice will not be silenced,<br></br>
      For it is the most formidable,<br></br>
      And it echoes the voices of all the ones you loved.<br></br>
      See, it is her privilege to serve you,<br></br>
      For life seeks beauty and complexity.</p><br></br><p>      Will you perceive with the eyes of the heart,<br></br>
      Will you become the serpent,<br></br>
      Will you heed the call of the jaguar,<br></br>
      Listen to the hummingbird and track the condor?<br></br>
      Let the wheel of time absorb you,<br></br>
      There is no end and no beginning.<br></br>
      Have your heart broken.</p><br></br></poem></body>