---

layout: "article"
title: "Two Poems"
authors: "Rick Noguchi"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><poem><title>The Shoes of Larry Arakawa </title><p>His shoes were made of water <br></br>
And when he walked he flowed.  <br></br>
One foot after the other,  <br></br>
His stride kept him moving  <br></br>
Gracefully forward so that he strolled.  <br></br>
He floated.   <br></br>
His was the recognizable walk of elegance. </p><br></br><p>All the neighbors knew him:  <br></br>
The man who sauntered the streets  <br></br>
Each step full of piety.  <br></br>
He walked with the strength of the universe  <br></br>
Under his feet, yet no one knew  <br></br>
Where he went.  He always drifted through  <br></br>
Gallantly, so distinguished in his meander.  </p><br></br><p>If anyone tried to follow him,  <br></br>
His shoes were prone to a shift in tide.  <br></br>
He then gathered the momentum of a river—  <br></br>
He rushed, and in his rush he surged ahead  <br></br>
To walk the walk of a flash flood.  <br></br>
He cut a path  <br></br>
Clearing everything before him. </p><br></br><p>Behind him, he left a mess.  <br></br>
Welcome mats, lawn ornaments, cars scattered  <br></br>
Everywhere, yet his foot prints evaporated  <br></br>
Into air.  </p></poem><poem><title>Mr. Ken Asawa, the Man with Two Left Feet </title><p>Even if he wore one of each shoe,  <br></br>
A left side and a right side, people would still notice  <br></br>
That Mr. Asawa was full of grace.  <br></br>
His walk was perfectly choreographed.  <br></br>
His stride elegant, yet powerful.  <br></br>
He walked the walk of man  <br></br>
Self assured in his every step.  <br></br>
Despite the fact that his body wanted  <br></br>
Always to pull right, veer away from his path. </p><br></br><p>Instead he wore what he had, two left  <br></br>
Shoes for two left feet.  <br></br>
A right shoe on a left foot where a right foot should be  <br></br>
Made no sense to Mr. Asawa  <br></br>
Who walked the walk of any other  <br></br>
Man only better.  The spring in his gait  <br></br>
Precise for someone with two left feet.  <br></br>
A left foot in a right shoe would provide  <br></br>
No support for his arch and would damage his sole. </p><br></br><p>It was how he knew the world,  <br></br>
A little off center, a slight draw to the side.  <br></br>
Mr. Asawa learned early to compensate for the difference,  <br></br>
The tilt in the earth’s axis which no one notices.  <br></br>
For him, the misalignment was normal  <br></br>
And so he walked a straight line  <br></br>
The same as everyone else—one foot after another. </p><br></br><p>Although his foot prints reveal otherwise.</p></poem></body>