---

layout: "article"
title: "Poems by Mary Gray Hughes"
authors: "Mary Gray Hughes"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><poem><title>Bent</title><p>It would save time to give in, to accept<br></br>
I write best about ice<br></br>
and not the sun.</p><br></br><p>Dead flowers have stronger<br></br>
scent in words I use<br></br>
than blossoms do.</p><br></br><p>Some tender turns of mind<br></br>
crave puffy clouds<br></br>
or kitten strokes,</p><br></br><p>but eyeless skulls see most:<br></br>
a gaping hole for nose, the grin<br></br>
of flesh-freed teeth in bone;</p><br></br><p>these unmask<br></br>
life that I<br></br>
can show.<br></br></p></poem><poem><title>Viewpoint</title><p>I am meant to be an oyster<br></br>
but have lost my shell<br></br>
so wander bare, everywhere,<br></br>
though every current<br></br>
smacks against soft tissue<br></br>
never once before in touch<br></br>
with anything beyond<br></br>
that hardened crust,<br></br>
and even so excited<br></br>
by this novelty unseen<br></br>
for oysters have no eye<br></br>
yet who but I<br></br>
can tell you how<br></br>
the merest wind<br></br>
sends pressures down<br></br>
upon an oyster's skin.<br></br></p></poem><poem><title>Revisions May Not Be Improvements</title><p>What I gain in breadth<br></br>
I may lose in bite,<br></br>
call it bitterness<br></br>
if you will.<br></br>
It may be my sole<br></br>
gift:<br></br>
the hook that grips<br></br>
in the gut and holds<br></br>
may be best<br></br>
if unsmoothed,<br></br>
if sharp,<br></br>
may cause more,<br></br>
if unpleasanter, feeling<br></br>
exactly because<br></br>
you feel it<br></br>
in you.<br></br></p></poem></body>