---

layout: "article"
title: "Power
            and Poetry: A
            Review of "
authors: "Claiborne Walthall"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p>A few
      years ago, I was watching a television program in Germany while on an
      exchange. My host snickered
      when a loud and glitzy advertisement came on the screen for the Backstreet
      Boys, a popular pop music group of five American teen idol guys.In her accented, gibing English she said, "So that’s
      America?"In seeming answer
      to that ridiculous impression, James Schevill’s collection of poetry, <book><title>The Complete American Fantasies</title></book>, gives a clear statement: these
      poems are America.The German
      commercial was ludicrous because it sold an impression, a single image of
      America as somehow being the real thing. Contrawise, Schevill gives us the real thing, his life-both
      concrete and fantastic-and helps us to draw our impressions from that. Schevill prefaces his collection beginning with these words: "In
      my sequence of American Fantasies, I have attempted to catch the <i>tone</i>
      of the country as I witnessed it during the major part of the twentieth
      century." A glimpse of his poems and the eras they describe helps shape
      our ideas of our country and reflect on our ideas of ourselves.</p><p>"My childhood years were permeated by wild-words,
      wildfire-stories, haunting wildfire-doom," writes Schevill.  Indeed in
      the poems concerning the 1920’s, the lines reflect the wildness of his
      western upbringing. This wildness is not the vision of cowboys and frontier we
      often associate with western themes, but rather the energy of youth and
      the powerful wildness of discovery, exploration, and mystery occurring in
      the young life. This series
      of poems keeps well in the section’s title, "The Optimistic
      Frontier." Finding his voice in himself and his surroundings, Schevill
      seeks after that clear energy and power of youth, which so many search for
      when youth has passed. Speaking
      through other real and fantastic, older characters, Schevill recognizes that tone of the country: a narrative telling the wild
      cycle of those who possess the youthful energy unaware and those who seek
      the awareness to reclaim it.</p><p>
      Schevill continues this tone-seeking through the Depression, the New Deal,
      and the Second World War. Speaking
      through the voices of Hershey the chocolate-maker, Houdini the escape
      artist, and many others, he gives us verse accounts of him placing himself
      in their situations. Schevill
      explores what his own mind thinks and feels about these people’s
      perspectives. This is, at
      once, a outside examination of lives and an inside examination of his own
      perspective. We as readers
      are invited into this fantasy world only to discover that we have many
      ideas about ourselves that are only fantastic themselves!</p><p>A prevalent example of this is the idea of a Superman. Schevill opens the introspective door with an account of
      Kristellnacht, the night of widespread Nazi destruction of Jewish property
      and lives in 1938. The
      battle with the wild energy of the 1920’s has turned for Schevill into a
      madness of war, and he appropriately titles this section dealing with the
      1940’s "Wars Within War." We
      find some of the most powerful poetry in the collection in this section,
      because Schevill shows vividly the terrible power of an uebermensch dream
      of youth and energy. Himself
      put on Limited Service domestic duty because of his eyesight, Schevill
      writes of the conflicts between and within individuals that make up the
      larger war. He examines this
      as himself, as German prisoners-of-war that he guards, and as a whole host
      of American figures: Jefferson, Emerson, and Melville. Each of these, his verses show, held a certain version of the
      Superman myth in themselves and must be understood to capture again the
      tone of the time at hand.</p><p>Each of Schevill’s eras have a theme concerning the energy and
      power of a certain time. The
      various American myths and perspectives give us unique insight into our
      own American lives. It
      is not the philosophical underpinnings of Schevill’s poetry, however,
      that give it great force, however. The power and truth of this collection lies in its strength as
      excellent poetry. Schevill
      seems to say in his "Jazz-Drift", in his "Looking at old Tombstones in a
      New England Graveyard," or in his "Madness,"that his and our experiences and fantasies have a lyrical and vivid
      story of their own. His poems
      express to us that reality is often the most fantastic and energetic
      happenings of all. While the
      experience of a nation with such emphasis on power and energy and fantasy
      takes many joyful as well as terrible forms,by understanding the presence of a fantastic national tone, we can
      truly begin to understand just what is America.</p></body>