---

layout: "article"
title: "Richard Fredricks"
authors: "Richard Fredricks"
date: 2021-01-01 16:43 UTC
tags: article
---
       <body><p><font><b>RICHARD FREDRICKS</b>, a 
former Principal Baritone with the Metropolitan Opera, is recognized 
as one of today's finest singing actors.  At the Metropolitan, 
he debuted as Don Carlo, in La Forza del Destino, sang Don Giovanni, 
Barnaba in La Gioconda, Athanael in Thais, the Four Villains in Les 
Contes D'Hoffmann and others.  His debut, in opera, was with the 
New York City Opera and, among the more than 40 leading roles sung with 
this company, are in the operas Rigoletto, I Puritani, Un Ballo un Maschera, 
Roberto Devereux, Il Barbiere di Siviglia, Attila, Andrea Chenier and 
Lucia di Lammermoor. <image></image>His appearances in Hamburg, Frankfurt, Venice, 
Israel, Brussels, Chile, Mexico, Venezuela, South Africa and Taiwan, 
as well as with most of the major companies in the U. S. and Canada, 
attest to his versatility during his peripatetic career that has encompassed 
over 40 leading roles and appearances in well over a score of Operettas 
and Musicals.  These include the leading roles in Kiss Me Kate, 
Molly Brown, Man of La Mancha, Kismet, Show Boat, 1776,  Merry 
Widow, Carousel and Camelot.</font></p><p><font>Mr. 
Fredricks has been a guest soloist with most of the major symphony orchestras 
in America and is highly esteemed as a recitalist.  He sang the 
first telecast of the prestigious Live from Lincoln Center series in 
The Ballad of Baby Doe*, and in subsequent telecasts of Roberto Devereux*, 
La Traviata*, Manon**, Lizzie Borden, and in the Opera de Montreal production 
of Il Trovatore.  He was a frequent guest on the Merv Griffin Show, 
The Dinah Shore Show, The Tonight Show, with Johnny Carson, Dick Cavett 
Show, and as himself, in a special Odd Couple segment, with Jack Klugman 
and Tony Randall.  </font></p><p><font>In 
addition to his more than twelve appearances at the Hollywood Bowl, 
over 35 orchestra appearances with Johnny Green in Pops Concerts throughout 
the country and Israel,  Mr. Fredricks appeared in televised performances 
with the Boston Pops on evenings of Lerner and Loewe and Cole Porter.</font></p><p><font>During 
Mr. Fredricks= extensive and varied career he has been lauded for his 
artistry as a recitalist as well acclaimed for his singing on the night 
club circuit. His hobbies include aerobatic flying, sailing his son=s 
22 foot sloop, Sean=s Boat and is active as a Certified Scuba Diver.</font></p><p><font>Mr. 
Fredricks will be singing a Evan=s Associates, Armistice Day Concert, 
at the Clubhouse 3 Theater, in Laguna Beach, November 11, 2006, with 
Motion Picture star Ann Blyth and the All American Boys Chorus.</font></p><p><font>Mr. 
Fredricks currently resides and has his studio, in his home town, Los 
Angeles, where he teaches the Richard Fredricks Vocal Technique.  
Email: <a>METBARITON@AOL.COM</a></font></p><p><font>Mr Fredricks is available for 
Private Study and Master Classes in Voice, Opera and Music Theater scenes.</font></p><p><font>*   Available at 
Tower Video</font></p><p><font>** Available Online at the 
Metropolitan Opera, Lincoln Center, NY</font></p></body>