
  <tr>
    <td width="100%" height="4" align="center">
      <table border="0" width="590">
        <tr>
          <td width="48%" valign="top"><font face="Verdana" color="#FFFFFF"><font size="2">Our
            list of </font><b><font size="2">Private Art Organizations </font></b><font size="2">that
            give grants and other forms of support to artists</font><b>.</b></font>
            <table border="0" width="100%" height="4109">
              <tr>
                <td height="40" valign="top"><a href="http://www.affta.ab.ca"><font face="Verdana">Alberta
                  Foundation for the Arts</font></a><font face="Verdana"> -
                  source of grant funding in the province.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://www.americanartistnetwork.org">American
                  Artist Relief Organization Network, Inc.</a> - encouraging
                  celebrities and developing artists to lend their talents to
                  needy causes.</font></td>
              </tr>
              <tr>
                <td height="15" valign="top"><font face="Verdana"><a href="http://www.artswire.org/~aaa/" title="American" Alliance Arts>American
                  Arts Alliance</a> - The mission of the American Arts Alliance
                  is to be the principal advocate for America's professional
                  nonprofit arts organizations and their publics in representing
                  arts interests and advancing arts support before Congress and
                  other branches of the Federal government. To achieve this
                  mission, the Alliance will inform legislators and policy
                  makers of the vital role of the arts in American society, and
                  advocate the development of national policies which
                  recognize,enhance and foster the contributions that thearts
                  make to America.</font></td>
              </tr>
              <tr>
                <td height="28" valign="top"><font face="Verdana"><a href="http://www.craftcouncil.org/">The
                  American Craft Council</a> is a national, nonprofit
                  educational organization dedicated to fostering an environment
                  in which craft is understood and valued. Founded by Aileen
                  Osborn Webb in 1943, the Council has a distinguished history
                  of innovative programming that has provided a vital base for
                  the emergence of the contemporary craft movement in the United
                  States in the decades since the Second World War.</font></td>
              </tr>
              <tr>
                <td height="97" valign="top"><font face="Verdana"><a href="http://web.uflib.ufl.edu/artsorg/">Art
                  and Design Associations on the World Wide Web </a>provides
                  links to over 560 associations whose members are interested in
                  variety of visual arts, architecture, design, and allied
                  fields.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://members.aol.com/artfheal/index.htm">Art
                  for Health Foundation</a> - sponsoring projects which use the
                  arts to increase public awareness of health risks.</font></td>
              </tr>
              <tr>
                <td height="116" valign="top"><font face="Verdana"><a href="http://www.arlisna.org/">Art
                  Libraries Society of North America - ARLIS/NA</a> Founded in
                  1972, ARLIS/NA promotes the continuing professional education
                  of its members and the general knowledge of the public
                  concerning all aspects of art librarianship and visual
                  resources curatorship.</font></td>
              </tr>
              <tr>
                <td height="135" valign="top"><font face="Verdana"><a href="http://www.arts.monash.edu.au/others/arlis_anz/">Art
                  Libraries Society - Australia and New Zealand</a> has as its
                  aims to promote arts librarianship, particularly by acting as
                  a forum for exchange of information and materialsand to
                  co-operate with other national and international organisations
                  in the fields of arts and librarianship.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://actionsites.com/art-sans-frontiere/index.html">Art
                  Sans Frontiere</a> - international Danish-French art
                  foundation promoting artists from all corners of the world,
                  online and with exhibitions in the South of France.</font></td>
              </tr>
              <tr>
                <td height="21" valign="top"><font face="Verdana"><a href="http://www.abana.org/">The
                  Artist-Blacksmith's Association of North America (ABANA)</a>
                  is a non-profit educational organization dedicated to
                  promoting the art of blacksmithing. ABANA's two quarterly
                  publications, the Anvil's Ring and the Hammer's Blow , provide
                  inspiration and technical information for 4,500 members. Over
                  50 chapters in North America, Australia, and New Zealand are
                  chartered with ABANA.</font></td>
              </tr>
              <tr>
                <td height="21" valign="top"><font face="Verdana"><a href="http://wuarchive.wustl.edu/edu/arts/metal/ArtMetal.html">The
                  ArtMetal</a> Project is a not-for-profit volunteer venture of
                  a group of metalsmiths and organizations which aims to
                  disseminate information about various aspects of artistic
                  metalworking and to provide a forum for artists and art lovers
                  to experience this outstanding medium. If you are interested
                  in learning more about how to work with metal. This site
                  includes a good list of resources for metalsmiths.</font></td>
              </tr>
              <tr>
                <td height="21" valign="top"><font face="Verdana"><a href="http://www.arts-crafts.com/">The
                  Arts &amp; Crafts Society</a> is an online community dedicated
                  to the philosophy and spirit of the Arts &amp; Crafts
                  Movement. In the spirit of the societies inspired in the early
                  20th century by the historic Arts &amp; Crafts Movement, this
                  site has been created to provide an online &quot;home&quot;
                  for the present-day Arts &amp; Crafts Movement community:
                  artisans, craftspeople, collectors, lovers, etc.</font></td>
              </tr>
              <tr>
                <td height="21" valign="top"><font face="Verdana"><a href="http://www.artswire.org/Community/afmadams/afm/index.html"><b>Arts</b>
                  Foundation of Michigan</a> .</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://www.artswire.org/">Arts
                  Wire</a> - weekly digest of arts news and a database of
                  cultural resources from the New York Foundation for the Arts.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://www.aaafoundation.com/">Asian
                  American <b>Arts</b> Foundation</a> - Northern California
                  non-profit organization assisting the Asian Pacific <b>arts</b>
                  community.</font></td>
              </tr>
              <tr>
                <td height="40" valign="top"><font face="Verdana"><a href="http://www.indiana.edu/~aah/">The
                  Association for Art History</a> welcomes all art historians,
                  museum professionals, critics, and scholars, including
                  graduate students.Associating under this broad allegiance and
                  welcoming art historians and scholars from across the
                  spectrum, the Association for Art History will focus on the
                  specific interests and concerns of its members.</font></td>
              </tr>
              <tr>
                <td height="40" valign="top"><font face="Verdana"><a href="http://www.aamd.org/">The
                  Association of Art Museum Directors (AAMD)</a>, founded in
                  1916, is a national not-for-profit membership organization
                  representing 170 directors of the major art museums in the
                  United States, Canada, and Mexico.</font></td>
              </tr>
              <tr>
                <td height="40" valign="top"><font face="Verdana">The <a href="http://www.acga.net/index.html">Association
                  of Clay and Glass Artists of California (ACGA)</a> is a member
                  benefit non-profit group of over 300 artists and supporters
                  centered in the San Francisco Bay area</font></td>
              </tr>
              <tr>
                <td height="40" valign="top"><font face="Verdana"><a href="http://www-nmr.banffcentre.ab.ca/" title="Banff" Arts the for Centre>The
                  Banff Centre for the Arts</a> The Banff Centre for the Arts is
                  a place for artists, and is dedicated to lifelong learning and
                  professional career development in the arts, acting as site
                  and catalyst for creative activity and experience.</font></td>
              </tr>
              <tr>
                <td height="40" valign="top"><font face="Verdana"><a href="http://www.dandad.org/">British
                  Design and Art Direction (D&amp;AD)</a> - Founded in 1962, is
                  a professional association and charity representing the UK's
                  thriving design and advertising communities.</font></td>
              </tr>
              <tr>
                <td height="40" valign="top"><font face="Verdana"><a href="http://www.brooklyncaps.org/">The
                  Brooklyn Coalition of Artists in Park Slope - Brooklyn C.A.P.S.
                  </a>is an organization of emerging and established artists,
                  based in Park Slope, Brooklyn. The organization is built with
                  regard to the need of artists to be effectively supported in
                  their areas of creativity- while remaining distinct individual
                  voices - and to present information about opportunities to
                  show and sell their work.</font></td>
              </tr>
              <tr>
                <td height="40" valign="top"><font face="Verdana"><a href="http://www.culturalpolicy.org/">The
                  Center for Arts &amp; Culture </a>provides independent
                  research, analysis, and informaed dialogue on policy choices
                  facing arts and culture in a changing world.</font></td>
              </tr>
              <tr>
                <td height="40" valign="top"><font face="Verdana"><a href="http://www.collegeart.org/">The
                  College Art Association (CAA)</a> includes among its members
                  those who by vocation or avocation are concerned about and/or
                  committed to the practice of art, teaching, and research of
                  and about the visual arts and humanities. Over 13,000 artists,
                  art historians, scholars, curators, collectors, educators, art
                  publishers, and other visual arts professionals are individual
                  members. Another 2,000 university art and art history
                  departments, museums, libraries, and professional and
                  commercial organizations hold institutional memberships.</font></td>
              </tr>
              <tr>
                <td valign="top"><font face="Verdana"><a href="http://www.cimi.org/">Consortium
                  for the Computer Interchange of Museum Information</a> The
                  latest information on CIMI's work with SGML andZ39.50 as well
                  as a proptotype online demonstrator searching object records
                  and SGML-encoded Exhibition Catalogues.</font></td>
              </tr>
              <tr>
                <td valign="top"><font face="Verdana"><a href="http://www.silversmithing.com/cerf/">The
                  Craft Emergency Relief Fund (CERF)</a> is a non-profit, tax
                  exempt organization which provides immediate support to
                  professional craftspeople facing career threatening
                  emergencies such as fire, theft, illness and natural disaster.
                  Created in 1985, CERF is the only organization of its kind in
                  the United States.</font></td>
              </tr>
              <tr>
                <td valign="top"><font face="Verdana"><a href="http://www.ffa.ucalgary.ca/cnet/index.html">CultureNet</a>
                  is working with a wide variety of cultural organizations and
                  individuals across Canada who are providing information about
                  their seasons, their programs, theirartists, and themselves.</font></td>
              </tr>
              <tr>
                <td height="40" valign="top"><font face="Verdana"><a href="http://www.dactyl.org">Dactyl
                  Foundation for the Arts and Humanities</a> - offers awards to
                  artists and writers.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.diacenter.org/">Dia
                  Center for the Arts </a>is a multi-disciplinary contemporary
                  arts organization. The name Dia, taken from the Greek word
                  meaning &quot;through,&quot;was chosen to suggest our role as
                  the conduit or means for realizing extraordinary projects.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.egre.mb.ca">Eckhardt-Gramatté
                  Foundation</a> - exists for the advancement of the composer
                  S.C. Eckhardt-Gramatte and the expressionist Walter Gramatte.</font></td>
              </tr>
              <tr>
                <td height="40" valign="top"><font face="Verdana"><a href="http://www.broadartfdn.org/">Eli
                  Broad Family Foundation</a> - collection of work by
                  contemporary artists.</font></td>
              </tr>
              <tr>
                <td height="97" valign="top"><font face="Verdana"><a href="http://www.farsited.org">Foundation
                  for Art Resources (FAR)</a> - alternative arts organization
                  since 1977, FAR sponsors art lectures, events, exhibits,
                  proposals and publications not traditionally supported by
                  mainstream art venues.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.genart.org/">GENART</a>
                  is a not-for-profit arts organization with offices in New York
                  and Los Angeles. We are dedicated to helping connect young
                  artists with audiences and opportunities through exhibitions,
                  on-line programs, and community outreach.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.gfound.or.at/">Generali
                  Foundation</a> - funding contemporary arts. With information
                  onf current and permanent exhibits, the collection, reference,
                  and more.</font></td>
              </tr>
              <tr>
                <td valign="top"><font face="Verdana"><a href="http://www.getty.edu/gri/">The
                  Getty Research Institute for the History of Art and the
                  Humanities </a>is one of six independent entities of the J.
                  Paul Getty Trust. Its goals as a research institute are to
                  promote innovative scholarship in the arts and the humanities,
                  cross traditional academic boundaries, and provide a unique
                  environment for research, critical inquiry, and debate.
                  Integral to its interdisciplinary approach is the concept that
                  visual arts and artifacts should be assessed within the broad
                  historical and cultural contexts in which they were created.</font></td>
              </tr>
              <tr>
                <td height="40" valign="top"><font face="Verdana"><a href="http://www.cyberlogic.it/giorgione/">Giorgione
                  Foundation</a> - promotional committee for the project; (in
                  English, French, and Italian).</font></td>
              </tr>
              <tr>
                <td height="135" valign="top"><font face="Verdana"><a href="http://www.delmas.org">Gladys
                  Krieble Delmas Foundation</a> - promotes the advancement and
                  perpetuation of humanistic inquiry and artistic creativity by
                  encouraging excellence in scholarship and in the performing
                  arts, and by supporting research libraries and other
                  institutions that preserve cultural heritage resources.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.grahamfoundation.org/">Graham
                  Foundation</a> - offers grants to individuals and institutions
                  pursuing research, publication, or programming in
                  architecture, as well as related arts and academic
                  disciplines.</font></td>
              </tr>
              <tr>
                <td height="21" valign="top"><font face="Verdana"><a href="http://www.henry-moore-fdn.co.uk/hmf/">Henry
                  Moore Foundation</a> - The object of the Henry Moore
                  Foundation, set up in 1977, and generously endowed by Mr
                  Moore, is 'to advance the education of the public by the
                  promotion of their appreciation of the fine arts and in
                  particular the works of Henry Moore'.</font></td>
              </tr>
              <tr>
                <td height="21" valign="top"><a href="http://www.artsalliance.org"><font face="Verdana">Illinois
                  <b>Arts</b> Alliance &amp; Foundation</font></a></td>
              </tr>
              <tr>
                <td height="97" valign="top"><font face="Verdana"><a href="http://www.icaf.org/">International
                  Child Art Foundation</a> - dedicated to promoting child art
                  and visual learning globally. Site includes contest and event
                  information, and links to drawing sites and galleries.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www2.hawaii.edu/~speccoll/charlotfoundation.html">Jean
                  Charlot Foundation</a> - dedicated to collecting, promoting,
                  and sharing resources relating to the life, career,
                  philosophy, and art of Jean Charlot.</font></td>
              </tr>
              <tr>
                <td height="97" valign="top"><font face="Verdana"><a href="http://www.gf.org">John
                  Simon Guggenheim Memorial Foundation</a> - provides
                  fellowships for advanced professionals in all fields (natural
                  sciences, social sciences, humanities, creative arts) except
                  the performing arts.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://kentuckycrafts.org/">The
                  Kentucky Art and Craft Foundation </a>hosts 12 exhibitions a
                  year. Each year more than 85,000 visitors come to the
                  foundation. Over 2,000 students and teachers come on field
                  trips and more than 50,000 students and teachers access our
                  Traveling Suitcase program which offers hands-on learning
                  using real art objects in the K-12 classroom.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://www.khalili.org/">Khalili
                  Family Trust - The Khalili Collections</a> - about their
                  collections of Islamic, Japanese, Spanish, and Swedish art.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.kibofoundation.org/">Kibo
                  Foundation - The Khalili Collection of Japanese Art</a> -
                  collection of Meiji decorative art including metalwork,
                  enamels, lacquerwork, and ceramics.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.leeway.org/">Leeway
                  Foundation</a> - promotes the welfare of women and to benefit
                  the arts. Annual grants made in selected visual or literary
                  disciplines to women recepients.</font></td>
              </tr>
              <tr>
                <td height="97" valign="top"><font face="Verdana"><a href="http://www.lilawallace.org">Lila
                  Wallace-Reader's Digest Fund</a> - private grantmaking
                  foundation making grants to enhance the cultural life of
                  communities through arts and culture, adult literacy and urban
                  parks programs.</font></td>
              </tr>
              <tr>
                <td height="97" valign="top"><font face="Verdana"><a href="http://www.mascarenas.org">Margarita
                  Miranda de Mascarenas Foundation</a> - established in 1988,
                  the Foundation helps young people realize intellectual and
                  cultural pursuits by providing scholarships and sponsoring
                  cultural events.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.charm.net/~midarts/">Mid
                  Atlantic <b>Arts</b> Foundation</a> - providing leadership and
                  support through grants, technical assistance and information
                  to artists and <b>arts</b> organizations.</font></td>
              </tr>
              <tr>
                <td height="21" valign="top"><a href="http://www.cyberus.ca/~nadasdy/"><font face="Verdana">Nadasdy
                  Foundation, The</font></a></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.ncafroc.org.tw/">National
                  Arts and Cultures Foundation</a> - a foundation established
                  for the purpose of promoting and asisting cultural and arts
                  activities.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.caricature.org">The
                  National Caricaturist Network (NCN)</a> is an international
                  non-profit organization dedicated to the art of caricature. It
                  is made up of professional caricaturists from all over the
                  world, students of caricature and people who have an interest
                  in the artform.</font></td>
              </tr>
              <tr>
                <td valign="top"><font face="Verdana"><a href="http://www.reuben.org/">The
                  National Cartoonists Society </a>is the world's largest and
                  most prestigious organization of professional cartoonists. As
                  defined in the NCS by-laws, a professional is one who earns
                  50% or more of one's living by drawing cartoons. The by-laws
                  define a cartoonist as &quot;a graphic story teller, whose
                  drawings interpret rather than copy nature in order to
                  heighten the effect of his or her message.&quot;</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www2.tamucc.edu/~nceca/">The
                  National Council on Education for the Ceramic Arts (NCECA) </a>is
                  a professional organization of individuals whose interests,
                  talents, or careers are primarily focused on the ceramic arts.
                  It became an independent organization in 1967 after several
                  years of affiliation with the Ceramics Education Council of
                  the American Ceramic Society.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.nfaa.org">National
                  Foundation for the Advancement of the Arts</a> - with the
                  mission to &quot;identify young, emerging artists and
                  encourage them with moral and financial support to pursue
                  their dreams.&quot;</font></td>
              </tr>
              <tr>
                <td height="21" valign="top"><a href="http://www.nefa.org/"><font face="Verdana">New
                  England Foundation for the <b>Arts</b></font></a></td>
              </tr>
              <tr>
                <td height="97" valign="top"><font face="Verdana"><a href="http://www.nyfa.org">New
                  York Foundation for the Arts (NYFA)</a> - enables contemporary
                  artists to create and share their works and provides the
                  broader public with opportunities to experience and understand
                  the arts.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.nourfoundation.org/">Nour
                  Foundation: The Khalili Collection of Islamic Art</a> - more
                  than 20,000 objects documenting Islamic art. Site offers
                  information on the collection, exhibits and the foundation.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.openstudio.org">Open
                  Studio: The Arts Online</a> - Cash awards to nonprofits to
                  provide internet access and training in support of increasing
                  the arts online. Run by Benton Foundation and NEA.</font></td>
              </tr>
              <tr>
                <td height="97" valign="top"><font face="Verdana"><a href="http://www.tmn.com/Artswire/www/pof/pof.html">Pauline
                  Oliveros Foundation</a> - furthers research in arts technology
                  and sponsors the exploration and uses of art for the education
                  and development of human consciousness, making the results
                  available to the public.</font></td>
              </tr>
              <tr>
                <td height="78" valign="top"><font face="Verdana"><a href="http://www.gianadda.ch">Pierre-Gianadda
                  Foundation</a> - art exhibition, sculpture park, Gallo-Roman
                  museum, automobile museum, cultural center in Martigny.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://www.pkf.org/">Pollock-Krasner
                  Foundation, Inc.</a> - providing financial assistance to
                  individual working artists of established ability.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://www.pgfusa.com">Princess
                  Grace Foundation</a> - identifies and assists young artists in
                  the fields of dance, theater and film in the United States.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://www.rds.ie/foundation/">Royal
                  Dublin Society</a> - promotes the development of arts,
                  science, agriculture and industry in Ireland.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://www.sanskritifoundation.org/">Sanskriti
                  Foundation</a> - provides preservation and promotion of
                  artistic and cultural resources.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://www.silversmithing.com/">The
                  Society of American Silversmiths </a>is the world's #1
                  resource for anything related to the silversmiths' art and
                  craft. SAS was founded in April 1989 as nation's only
                  professional organization solely devoted to the preservation
                  and promotion of contemporary silversmithing, specifically in
                  the areas of holloware, flatware, and sculpture.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://www.sah.org/">Society
                  of Architectural Historians</a> and its members invite the
                  support and active participation of all who share our interest
                  in architecture--past, present,and future. Founded in 1940,
                  the Society encourages scholarly research in the field and
                  promotes the preservation of significant architectural
                  monuments that are an integral part of our worldwide
                  historical and cultural heritage.</font></td>
              </tr>
              <tr>
                <td valign="top"><font face="Verdana"><a href="http://www.societyillustrators.org/">The
                  Society of Illustrators </a>was formed to promote and
                  stimulate interest in the art of illustration, past, present
                  and future, and to give impetus generally toward high ideals
                  in the art by means of exhibitions, lectures, educational
                  programs, social intercourse, and in such other ways as may
                  seem advisable.</font></td>
              </tr>
              <tr>
                <td valign="top"><font face="Verdana"><a href="http://www.spd.org/">Society
                  of Publication Designers</a> - For over a quarter of a
                  century, the Society of Publication Designers has been a
                  driving force for quality and innovation in publication
                  design. It is the one venue to which the best of the best
                  continually strive.</font></td>
              </tr>
              <tr>
                <td height="59" valign="top"><font face="Verdana"><a href="http://www.500inc.org">The
                  500, Inc</a> - non-profit all volunteer fund raising
                  organization dedicated to serving the cultural arts community.</font></td>
              </tr>
              <tr>
                <td height="116" valign="top"><font face="Verdana"><a href="http://www.txarts.net/tcqae/">The
                  Texas Coalition for Quality Arts Education</a> acts as a
                  common voice for fine artseducation in Texas, representing the
                  over three million students enrolled in the fine arts in
                  Texas, their parents,educators, community leaders, and arts
                  advocates involved in and supportive of fine arts education,
                  both publicly and privately.</font></td>
              </tr>
              <tr>
                <td height="116" valign="top"><font face="Verdana"><a href="http://www.maynarddixon.com/">Thunderbird
                  Foundation for the Arts, The</a> - provides scholarships,
                  endowments, and internships for the visual arts in the name of
                  Maynard Dixon, the American modernist painter. Also offers the
                  Dixon studio as a retreat for aspiring artists.</font></td>
              </tr>
              <tr>
                <td width="100%" height="21" valign="top"><font face="Verdana">The
                  <a href="http://www.vra.oberlin.edu/default.html" title="VRA">Visual
                  Resource Association</a> site includes information about the
                  Association, infomation about copyright issues, and
                  information about affiliate organizations.</font></td>
              </tr>
            </table>
            <p>&nbsp;</td>
          <td width="5%"><font face="Verdana"><img border="0" src="/images/decoration_images/divider.gif" width="20" height="400"></font></td>
          <td width="47%" valign="top" align="left"><img border="0" src="/images/Feldman/RubberStampBook.jpg" width="264" height="188">
            <p><font face="Verdana" size="1">Rubber Stamp Book by Walter
            Feldman, Mixed Media</font></td>
        </tr>
      </table>
    </td>
  </tr>

