

  <tr>
    <td width="100%" height="4" align="center">
      <table border="0" width="590">
        <tr>
          <td width="48%" valign="top"><font face="Verdana"><b><font size="3" color="#BBBBBB">How
            do you get a grant to pursue art?</font></b> </font>
            <p><font size="2" face="Verdana">What agencies give grants to the
            arts? What forms of non-monetary support are available for artists?
            If you have any of these questions, we can help. First, it makes
            sense to read <b><a href="/articles/private_support_for_individual_artists.html"><font color="#FFFFFF">Private
            Giving to Individual Artists</font></a><font color="#FFFFFF"> </font></b><font color="#CCCCCC">to
            get an idea of what private support is available. Next, you should
            look through our listings of </font><a href="private.html"><font color="#FFFFFF">private
            organizations that support the arts</font></a><font color="#CCCCCC">
            and </font><a href="public.html"><font color="#FFFFFF">government
            agencies that support the arts.</font></a><font color="#CCCCCC">
            Finally, take a look at the </font><a href="http://www.arts.gov"><font color="#FFFFFF">National
            Endowment for the Arts</font></a><font color="#CCCCCC"> and the help
            they offer.</font></font></td>
          <td width="5%"><font face="Verdana"><img border="0" src="/images/decoration_images/divider.gif" width="20" height="400"></font></td>
          <td width="47%" valign="top" align="left"><img border="0" src="/images/Feldman/RubberStampBook.jpg" width="264" height="188">
            <p><font face="Verdana" size="1">Rubber Stamp Book by Walter
            Feldman, Mixed Media</font></td>
        </tr>
      </table>
    </td>
  </tr>
